.pagination-container {
  color: white;
  margin: 5rem auto;


}

.pagination-container .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
padding: 40px;
background-color: red;
  gap: 10px;
  /* color: white; */

}
.pagination-container .pagination .page-item {
  color: white;
  position: relative;
  
  /* gap:10px  ; */
  width: 4rem;
  height: 4rem;
  padding: 30px!important;
  /* display: flex;
justify-content: center;
align-items: center; */

  color: white;
  color: red;
  background-color: red;

  
}
.pagination-container .pagination .page-item .page-link {
  background-color:white;
  position: absolute;
box-shadow: 0 0 10px 0 rgb(229, 226, 226);
transition: 0.5s ease;
  object-fit: cover;
  width: 100%!important;
  height: 100%!important;

  color:black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem!important;
  font-weight: 700;

}

.pagination-container .pagination .page-item .page-link:hover{
  background-color: blue;
  color: white;
}
