*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.footer {
  position: relative;

  background-color: #212529;

  z-index: 9;
  /* display: flex;
  flex-direction: column; */
  &__subscribers {
    width: 100%;
    padding: 3rem 0;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    border-bottom: 1px solid #4e5e6a;
  }
  &__input-button-container {
    display: flex;
    justify-content: space-between;
    width: 50%;

    gap: 10px;
  }
  &__subscribe-content {
    width: 50%;

    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h2 {
      font-size: 1.2rem;
    }
  }
  &__subscribe-input {
    font-size: 1rem;
    padding: 0.625rem 0;
    width: 80%;
    padding-left: 1rem;
    outline: none;
    border: none;
    border-radius: 3px;
  }

  &__subscribe-button {
    background-color: var(--mainBlue);
    font-size: 1rem;
    color: white;
    padding: 0.75rem;
    text-align: center;
    border-radius: 3px;
    width: 20%;
  }

  &__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    padding: 2rem 0;
  }
  &__contactInfoCol {
    position: relative;
    padding: 0.625rem 0;
    /* width: 25%; */
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: space-between;

    h2 {
      text-align: start;

      font-size: 1.5rem;
      color: white;
      margin-bottom: 0.8rem;
    }
  }
  &__headerandBorderBottom {
    position: relative;
    width: 100%;
  }
  &__contactContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 100%;

    a {
      font-size: 1.3rem;
      color: white;
      font-weight: 900;
      transition: all 0.3s;
     
    }
    &__footerLinks {
      color: #e4e4e4;
      display: flex;
      justify-content: space-between;
    }
  }

  &__iconContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__devider {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #4e5e6a;
    &::before {
      position: absolute;
      content: "";
      width: 5rem;
      height: 1px;
      background-color: white;
    }
  }
  &__phoneContainer {
    display: flex;
    gap: 1rem;
  }
  &__phoneIcon {
    font-size: 2rem;

    /* color: rgb(70, 70, 239); */
    color: var(--mainBlue);
  }
  &__phoneInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    p {
      font-size: 1.2rem;
      width: 100%;
      color: #e4e4e4;
    }
    a {
      width: 100%;
      font-size: 1.2rem;
    }
  }
  &__socialMediaContainer {
    position: relative;
    display: flex;
 justify-content: center;
    gap: 15px;

  }
  &__socialMediaLinks{
 display: flex;
 align-items: center;
 justify-content: center;
   width: 100%;
  height: 100%;
  
  }

  &__socialIcon {
    font-size: 16px;
  }
  &__linkdiv {
    position: relative;
    width: 5px;
    background-color: pink;
  }

  &__quickLinksContainer {
    padding: 0.625rem 0;
    width: 25%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  &__bottomUnderscore {
    position: relative;
    width: 100%;
    h2 {
      font-size: 1.5rem;
      color: white;
      margin-bottom: 0.8rem;
    }
  }

  &__quickLinks {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__right {
    position: relative;

    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__footerLinks {
    width: fit-content;
    position: relative;
    color: var(--textColor);
    font-size: 1.2rem;
    transition: 0.9s all ease;

    /* transition: all 0.3s ease; */
    &:after {
      position: absolute;
      content: "";
      height: 1px;
      background-color: var(--textColor);
      left: 0;
      bottom: -3px;
      transition: 0.1s all;
    }
    &:hover:after {
      width: 100%;
    }
  }
  footer__socialMediaLinks{
    position: absolute;
   
  }
  &__galleryContainer {
    display: flex;
    flex-direction: column;
    padding: 0.625rem 0;
    width: 25%;
    gap: 3rem;
  }
  &__galleries {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 50%;
    gap: 0.5rem;
  }
  &__firstLine {
    position: relative;
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
  }
  &__galleriesImagesCont {
    position: relative;
    width: 33.3%;
    height: 100%;

    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &__secondLine {
    width: 100%;
    height: 45%;
    display: flex;
    gap: 0.5rem;
  }
  &__bottom {
    position: relative;
    width: 100%;
  }
  &__bottomDevider {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #4e5e6a;
    margin-bottom: 3.125rem;
  }
  &__copyright {
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
  }
  &__copyrightLeft {
    width: 100%;
    color: white;
  }
  &__copyrightRight {
    text-align: right;
    width: 50%;
    color: white;
    font-size: 1.2rem;
  }
  .footer__subscribers {
    align-items: flex-end;
    gap: 5rem;
  }
  .footer__subscribe-content {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
}
@media (max-width: 1200px) {
  /* .footer {
    &__socialMediaContainer {
      gap: 30px;
    }
  } */
}

@media (max-width: 992px) {
  .footer {
    &__contactContainer {
      a {
        font-size: 1.2rem;
      }
    }
    &__galleries {
      height: 15rem;
    }
    &__left {
      width: 60%;
    }
    &__right {
      width: 40%;
    }
    &__socialMediaContainer {
      gap: 20px;
    }
  }

  .footer__subscribe-content {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .footer {
    &__subscribers {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 5rem 0;
    }
    &__subscribe-content {
      width: 100%;
    }
    &__input-button-container {
      width: 100%;
    }
    &__top {
      flex-direction: column;
      /* gap: 6rem; */
    }
    &__headerandBorderBottom {
      margin-bottom: 2rem;
    }
    &__headerandBorderBottom {
      h2 {
        font-size: 20px;
      }
    }
    &__bottomUnderscore {
      margin-bottom: 2rem;
    }
    &__bottomUnderscore {
      h2 {
        font-size: 20px;
      }
    }
    &__phoneInfo {
      p {
        font-size: 14px;
      }
      a {
        font-size: 16px;
      }
    }

    &__contactInfoCol {
      width: 100%;
    }
    &__quickLinksContainer {
      width: 100%;

      a {
        font-size: 16px;
      }
    }
    &__left {
      width: 20%;
    }
    &__right {
      width: 80%;
    }
    &__galleries {
      height: 50rem;
    }
    &__galleryContainer {
      width: 100%;
    }

    &__bottom {
      width: 100%;
    }

    &__copyrightLeft {
      width: fit-content;
      font-size: 14px;
      line-height: 3rem;
    }
    &__copyrightRight {
      font-size: 1.5rem;
      line-height: 3rem;
    }
    &__socialMediaContainer {
      gap: 20px;
      align-content: flex-start;
    }
    &__socialMediaLinks {
      display: inline-block;
      width: 3.125rem;
    }
  }

  .footer__subscribe-content h2 {
    font-size: 16px;
  }
  .footer__subscribe-content p {
    font-size: 14px;
    line-height: 20px !important;
  }
  .footer__iconContainer {
    width: unset;
  }
  .footer__subscribe-input {
    padding: 1.5rem 0;
    font-size: 16px;
    padding-left: 1.5rem;
  }
  .footer__subscribe-button {
  
    padding: 1.5rem 0;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer__phoneIcon {
    font-size: 20px;
  }
}

@media screen and (max-width: 576px) {
  .footer__right {
    width: 75%;
  }

  .footer__left {
    width: 25%;
    gap: 2rem;
  }
  .footer__quickLinksContainer a {
    font-size: 3.2rem;
  }
  .footer__subscribe-content h2 {
    font-size: 3rem;
  }
  .footer__subscribe-content p {
    font-size: 2.5rem;
    line-height: 3.5rem !important;
  }
  .footer__subscribe-input {
    font-size: 3rem;
  }
  .footer__subscribe-button {
    font-size: 2.5rem;
  }
  .footer__headerandBorderBottom h2 {
    font-size: 4rem;
  }
  .footer__contactInfoCol {
    gap: 4rem;
  }
  .footer__quickLinksContainer {
    gap: 4rem;
  }
  .footer__top {
    gap: 5rem;
    padding: 5rem 0;
  }
  .footer__phoneInfo {
    gap: 1rem;
  }
  .footer__phoneInfo p {
    font-size: 2.5rem;
  }
  .footer__phoneInfo a {
    font-size: 3rem;
  }

  .footer__socialIcon {
    font-size: 3.5rem;
  }
  .footer__phoneIcon {
    font-size: 4rem;
  }
  .footer__contactContainer {
    gap: 4rem;
  }

  .footer__bottomUnderscore h2 {
    font-size: 4rem;
  }
  .footer__copyrightLeft {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
}
