* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.accordion {
  /* position: relative; */
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.item {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  padding: 20px 24px;
  padding-right: 48px;
  cursor: pointer;

  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
  align-items: center;
  transition: max-height 1s;
}

.number {
  font-size: 20px;
  font-weight: 800;
  color: var(--TextColor);
  opacity: 0.5;
}

.accordion .iconn {
  font-size: 20px;
}

.iconn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 45px;
  border-radius: 5px;
  /* padding: 10px; */
  background-color: #0000ff;
  opacity: 0.8;

  color: white;
}

.content-box {
  grid-column: 2 / -1;
  padding-bottom: 16px;
  padding-right: 55px;
  word-wrap: break-word;
  line-height: 1.6;
  font-size: 12px;
  color: var(--TextColor);
  text-align: justify;
}

.content-box ul {
  color: #868e96;
  margin-left: 16px;
  margin-top: 16px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* OPEN STATE */

.open .number,
.open .title {
  color: #0000ff;
}

/* PAGELINKS START */
.accordionHeader {
  background-color: #fafafc;
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.accordionTitle h2,
.accordionTitle span {
  text-align: center;
  font-size: 40px;
}
.accordionLinks a,
.accordionLinks .angelIcon,
.accordionLinks .faqLink {
  font-size: 30px;
}
/* PAGElINKS END */

.accordionTitle span {
  border-bottom: 2px solid #f78da7;
  padding-bottom: 1.2rem;
}
.accordion .itemm {
  background-color: rgb(250, 250, 255);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 5px 15px;
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
  align-items: center;
  border-radius: 5px;

}

.accordionLinks a {
  color: #0000ff;
  font-weight: 500;
  color: #737b9a;
}

.accordionLinks .angelIcon {
  margin-top: 0.1rem;
  color: #737b9a;
}
.accordionLinks .faqLink {
  color: #0000ff;
  font-weight: 500;
}
.accordionLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.titlee {
  font-size: 16px;
  color: black;
  font-weight: 500;
  width: fit-content;
  word-wrap: break-word;

}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
  .accordion{
    width: 80%;
  }
}
@media screen and (max-width: 576px) {
}
@media screen and (max-width: 430px) {
}
@media screen and (max-width: 340px) {
}
