
/* PROJECT CARDS START */
.project-cards-container {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.875rem;
  padding: 3rem 0;
  &__card {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgb(0, 0, 0));
    display: flex;
    align-items: flex-end;
    box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
    width: 28%;
    height: 33rem;
    position: relative;
    text-align: center;
    &:hover::before {
      opacity: 1;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(4, 7, 84, 0.5), rgb(0, 0, 0));
      z-index: 0;
      transition: 0.5s all;
      opacity: 0.2;
      cursor: pointer;
    }
    &:hover {
      transform: translateY(5px);
    }
    &:hover .project-cards-container__info {
      transform: translateY(-80px);
    }
  }
  &__info {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    z-index: 0;
    color: #fff;
    opacity: 1;
    transform: translateY(-45px);
    transition: 0.5s all;
  }
  &__heading {
    color: #fff;
    font-size: 1rem;
  }
  &__description {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.projectHeader{
  text-align: center;
  margin: 5rem 0;
}
.projectHeader .description{

  color: var(--TextColor);
  line-height: 2rem;
  font-size: 1.4rem;
  font-weight: 500;
}
.projectTitle{
  font-size: 2rem;
  margin-bottom: 1rem;
  padding: 0.9375rem 0rem 0rem 0rem;
}

/* PROJECT CARDS END */

@media screen and (max-width: 1200px) {

  .project-cards-container {
    &__card {
      height: 37rem;
    }
  }
}
@media screen and (max-width: 992px) {
  
  .project-cards-container {
    &__card {
      width: 33rem;
      height: 39.25rem;
    }
    &__description {
      font-size: 2rem;
      line-height: 3rem;
    }
    &__heading{
      font-size: 1.5rem;
    }
  }
}
@media screen and (max-width: 768px) {
 
  .project-cards-container {
    &__card {
      width: 33rem;
      height: 39.25rem;
    }
    &__description {
      font-size: 2rem;
      line-height: 3rem;
    }
    &__heading{
      font-size: 1.5rem;
    }
  }

  .category-icon{
    width: 2.5rem;
    height: 2.5rem;
  }
  .kateqoriya p{
    font-size: 2rem;
  }
  .input-search input{
    font-size: 2rem;
  }
  .input-search input::placeholder{
font-size: 2rem;
  }
  .category-search-icon{
   font-size: 3rem;
  }
}
 @media screen and (max-width: 576px) {

 .modal-section{
width: 100%;
}
 
 .modal-section{
  width: 100%;


  margin-inline: auto;
 }

 .projectTitle{
  font-size: 3.5rem;
 }
 .projectHeader .description{
  font-size: 2.5rem;
  line-height: 3rem;
}
.category-icon{
  width: 4rem;
    height:4rem;
}
.kateqoriya p{
  font-size: 3rem;
}
.input-search input{
  font-size: 3rem;
}
.input-search input::placeholder{
  font-size: 3rem;
}

} 

 




