/* .service {
  .service_heading {
    padding: 120px 10px 120px 10px;
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: #f3f7f3a2;
    ul {
      padding: 20px 0px 20px 0px;
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      .iconss {
        font-size: 23px;
      }
      li {
        .home {
          color: #737b73;
        }
        .contact {
          color: #0000ff;
        }
      }
      a {
        text-decoration: none;
        font-size: 18px;
      }
    }
    .lines {
      width: 5%;
      height: 3px;
      margin: 0 auto;
      background-color: #0000ff;
    }
    h2 {
      padding: 15px 0px 10px 0px;
      font-size: 40px;
    }
    p {
      color: #737b73;
      font-size: 18px;
      padding: 10px;
    }
  }
  .service_first_section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 0% auto;
    padding-top: 50px;
    padding-bottom: 50px;
    .service_first_section_content {
      display: flex;
      flex-direction: column;
      width: 40%;
      h5 {
        font-size: 16px;
        color: #0000ff;
      }
      h3 {
        font-size: 35px;
        color: #353635;
      }
      p {
        font-size: 16px;
        color: #737b73;
        margin-top: 15px;
        line-height: 30px;
      }
      .service_first_section_content_list {
        display: flex;
        flex-direction: column;
        .service_first_section_content_list_item {
          display: flex;
          align-items: center;
          margin-top: 0%;

          .service_check_icon {
            font-size: 25px;
            margin-top: 14px;
            color: #0000ff;
          }
          p {
            font-size: 18px;
            font-weight: 500;
            color: #353635;
          }
        }
      }
    }
    .service_first_section_img {
      width: 40%;
      img {
        width: 100%;
      }
    }
  }
}
@media screen and (min-width: 280px) and (max-width: 768px) {
    .service {
       padding-bottom: 100px;
        .service_first_section {
          flex-wrap: wrap;
          width: 90%;
        padding: 20px;
          padding-top: 50px;
          padding-bottom: 50px;
          .service_first_section_content {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-bottom: 100px;
            h5 {
              font-size: 16px;
              color: #0000ff;
            }
            h3 {
              font-size: 35px;
              color: #353635;
            }
            p {
              font-size: 16px;
              color: #737b73;
              margin-top: 15px;
              line-height: 30px;
            }
          }
          .service_first_section_img {
            width: 100%;
            order: 2;
            img {
              width: 100%;
            }
          }
        }
      }

} */
/* R start */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}

/* heading start */
.serviceHeader {
  background-color: #f6f6f6;
  padding: 10rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}

.serviceTitle {
  text-align: center;
}

.serviceTitle {
  text-align: center;
}

.serviceTitle h2 {
  display: inline-block;
  font-size: 2.5rem;
}

.serviceLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* width: fit-content; */
  gap: 0.5rem;
}

.serviceLinks a {
  font-size: 1.3rem;
  color: #0000ff;
  font-weight: 500;
}

.serviceLinks .serviceLink {
  color: #737b9a;
}

.serviceLinks .angleIcon {
  font-size: 1.5rem;
  margin-top: 0.1rem;
  color: #737b9a;
}

.serviceTitle span {
  border-bottom: 2px solid #f78da7;
  font-size: 2.5rem;
  padding-bottom: 1.2rem;
}

/* heading end */
/* first section start */
.firstSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-bottom: 5rem;
}

.firstSection__textContent {
  padding-top: 3rem;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.firstSection__header {
  font-size: 1.5rem;
  color: blue;
  font-weight: 500;
  width: 100%;
}

.firstSection__title {
  font-size: 2rem;
  width: 100%;
  padding-right: 10rem;
  font-weight: 600;
  padding-right: 0;
}

.firstSection__description {
  padding-right: 10rem;
  color: #737b9a;
  line-height: 1.6rem;
  font-size: 1.2rem;
  font-weight: 500;
  padding-right: 0;
}

.firstSection__ListTtitleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.firstSection__list-title-icon {
  font-size: 2rem;
  color: #0000ff;
}

.firstSection__list-title-description {
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
  width: 100%;
}

.firstSection__imgContainer {
  width: 50%;
}

.firstSection__imgContainer img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* first section end */
@media screen and (max-width: 992px) {
  .container {
    max-width: 720px !important;
  }
  .firstSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-bottom: 5rem;
    gap: 2rem;
    width: 100%;
  }
  .firstSection__textContent {
    width: 100%;
  }
  .firstSection__header {
    text-align: center;
  }
  .firstSection__title {
    padding-right: 0;
    text-align: center;
  }
  .firstSection__description {
    padding-right: 0;
    text-align: center;
  }
  .firstSection__ListTtitleContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .firstSection__imgContainer {
    width: 100%;
  }
}

/* R end */
/*# sourceMappingURL=Service.css.map */