
*{
  margin:0;
  padding:0;
}


.logo-img {
display: flex;
align-items: center;

  height: 100%;
  color: white;

}
.logo-img img {
  /* width: 100%;  */
  height: 80%;
  object-fit: contain;
  color: white;
}

:root {
  --mainColor: #29335c;
  --mainColorLight: #5767aa;
  --secondaryColor: #db2b39;
  --textColor: #eee;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6.56rem;
  padding: 0 4rem;
gap: 4rem;
/* background-color: rgba(255,255,255,0.3); */
/* background-color: rgba(0,0,0,0.5); */
/* background-color: rgba(0,30,15,0.1); */

backdrop-filter: blur(8px);
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  z-index: 9999;
position: sticky;
  top: 0;
}

.navbar a,
.navLink {

  margin: 0 1rem 0 0;

  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 900;
width: fit-content!important;
  padding: 0.5em 0;
  transition: 0.3s all;
  border-radius: 5px;
padding: 5px 10px;
  position: relative;
  color:  var(--mainBlue);
 
  /* color: var(--textColor); */

 
}
.navbar a:hover,
.navLink:hover{
  background-color: var(--mainBlue);
  /* background-color: #fff; */
  opacity: 0.9;
  /* color: #29335c; */
  color:var(--textColor);
}


.navbar a::after {
  content: "";
  display: block;

  position: absolute;
  bottom: -1.6px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: var(--mainBlue);
  transition: width 0s, left 0s;
  border-radius: 3px;
  
}

/* .navbar a:not(.active):hover::after {
  width: 100%;
  left: 0;
  transition: width 0.3s, left 0.3s;
} */
.navbar a.active {
  position: relative;
color: white;
text-decoration: none;
padding: 5px 10px;
border-radius: 5px;

  background-color: var(--mainBlue);
 
}

header .nav-btn {
cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  /* color: var(--textColor); */
  /* color: #29335c; */
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

header div,
.navbar {
  display: flex;
  align-items: center;
}


@media only screen and (max-width: 992px) {
  header{
    height: 9rem;
    backdrop-filter: unset; 
    background-color:rgba(255,255,255, 1);
    /* backdrop-filter: blur(10px); */
  }
  header .nav-btn {
    visibility: visible;
    opacity: 1;
color: white;
 
  }
  .nav-close-open {
    font-size: 3rem;
    color: var(--mainBlue);

  }
  .navbar-open-icon {
    font-size: 3rem;
    /* color: var(--mainBlue); */

 
  }
  header .navbar {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    background-color: var(--mainBlue);
    
    transition: 1s;
    z-index: 999999999999;
  }

  header .responsive_nav {
    transform: translateY(100vh);
    z-index: 99999999;
    color: white;

  }
  header .responsive_nav a {
    color: white;
    font-size: 2.5rem;

  }
  header .responsive_nav a:hover{
    background-color: #fff;
    color: var(--mainBlue);
  }

  .navbar .nav-close-btn {
    position: absolute;
    top: 3.2rem;
    right: 3.7rem;
    color: #eee;
  }

 
}

  

@media screen and (max-width:768px){

header{

height: 9rem;
}


  .header p{
    font-size: 1.8rem;
    line-height: 3rem;
  }
}




@media only screen and (max-width: 576px) {
  .nav-close-open {
    font-size: 5rem;
  
}
header{
height: clamp(50px, 10vw, 70px);

}

header .responsive_nav a {
  color: white;
  font-size: 16px;

}
.navbar .nav-close-btn {
  position: absolute;
  font-size: 30rem;
  top: -18rem;
  right: 3rem;
  color: #eee;
}
.navbar-open-icon{
  font-size: 5rem;

}
.category-search-icon{
  font-size: 4rem;
}
.header p{
  font-size: 2.5rem;
  width: 100%;
  line-height: 4rem;
}




  }


  

 


