$PrimaryColor: #0000ff;

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}
.container {
 
  max-width: 1320px;
  width: 100%;
 
 
}


// .header__top {
//   background-color: $PrimaryColor;
//   width: 100%;
//   font-size: 16px;
//   padding-top: 10px;
//   padding-bottom: 10px;
//   padding: 10px 90px;
//   display: flex;
//   justify-content: space-between;
//   font-family: "Montserrat", sans-serif;

//   &__left {
//     ul {
//       color: white;
//       font-size: 16px;
//       padding: 5px;
//       list-style: none;
//       display: flex;

//       li {
//         padding-left: 15px;
//       }
//     }
//   }

//   &__right {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     ul {
//       color: white;
//       font-size: 16px;
//       list-style: none;
//       display: flex;

//       li {
//         display: flex;

//         align-items: center;
//         padding-left: 25px;
//         font-size: 14px;
//         .header__top__icons {
//           font-size: 16px;
//           margin-right: 5px;
//         }
//       }
//     }
//   }
// }

.header__bottom {
  // position: relative;
  gap: 20px;
  margin: 0 auto;
  width: 100%;
  // padding: 5px 60px 5px 60px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  z-index: 99;
  font-family: 'Montserrat', sans-serif;
 &__left {

    position:relative;
    width: 12%;


   .logo-img{
   display: flex;
   justify-content: center;
   align-items: center; 
  position: absolute;
 width: 100%;
  height: 100%;

      img{
        position: absolute;
        object-fit: cover;
        width: 100%;
      }
      
    }

   
  }

  &__right {
    width: 80%;
   display: flex;
    align-items: center;
   font-size: 13px;
    margin: 0px 16px 0px 0px;
    padding: 30px 5px;
    & .homeMenu{
      position: relative;
      top: 300px;
     width: 300px;
      height: 300px;
      background-color: red;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 2.5rem;

      li {
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.3125rem;
          width: fit-content;
          font-weight: bold;
          text-decoration: none;
          .angle-down-icon {
            font-size: 0.8rem;
            align-self: flex-end;
          }
          &:hover {
            color: $PrimaryColor;
          }
        }
      }
    }
  }

  &__langSelect {
    select {
      display: flex;
      justify-content: flex-end;
      position: relative;
      background-color: white;
      cursor: pointer;
     width: 50px;
    
      border: none;
      padding: 3px;
      transition: all 0.3s linear;
      option {
        background-color: white;
      }

      &:hover {
        background-color: rgba(208, 202, 202, 0.514);
        border-radius: 3px;
      }
    }
  }
}

.header__res {
  display: none;
}

.menu-items {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid gray;
  padding: 10px;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

// @media screen and (min-width: 280px) and (max-width: 1024px) {
//   .header__top {
//     justify-content: center;
//     .header__top__right {
//       display: none;
//     }
//   }
//   .header__bottom {
//     .header__bottom__right {
//       display: none;
//     }
//   }
//   .header__res {
//     display: flex;
//     align-items: center;
//     .burger-menu {
//       display: flex;
//       .burger_icon {
//         font-size: 40px;
//       }
//     }
//   }
//   .menu-items-res {
//     ul {
//       position: absolute;
//       width: 100%;
//       left: 0%;
//       top: 8rem;
//       z-index: 10;
//       background-color: white;
//       border: 1px solid rgb(255, 255, 255);
//       display: flex;
//       flex-direction: column;
//       justify-content: end;
//       align-items: center;
//       list-style: none;
//       padding-right: 15px;
//       padding: 15px;
//       li {
//         padding-top: 10px;
//         color: #0000ff;
//         font-size: 20px;
//         a {
//           text-decoration: none;
//         }
//       }
//     }
//   }
// }
