
*{
  margin:0;
  padding:0;
}


.logo-img {
display: flex;
align-items: center;

  height: 100%;
  color: white;

}
.logo-img img {
  /* width: 100%;  */
  height: 80%;
  object-fit: contain;
  color: white;
}

:root {
  --mainColor: #29335c;
  --mainColorLight: #5767aa;
  --secondaryColor: #db2b39;
  --textColor: #eee;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6.56rem;
  padding: 0 4rem;
gap: 4rem;
  /* background-color: #eeeeee; */
  /* background-color: #fafafc; */
  background-color: rgba(0,0,0,0.7);

backdrop-filter: blur(10px);
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  z-index: 9999;
  color: #29335c;
 
  position: sticky;
  top: 0;
}

.navbar a,
.navLink {

  margin: 0 1rem 0 0;
  /* color: var(--textColor); */
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 900;
width: fit-content!important;
  padding: 0.5em 0;
  transition: 0.3s all;
  border-radius: 5px;
padding: 5px 10px;
  position: relative;
  color: #29335c;
  color: white;
 
}
.navbar a:hover,
.navLink:hover{
  background-color: #fa7070;
}


.navbar a::after {
  content: "";
  display: block;

  position: absolute;
  bottom: -1.6px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #fa7070;
  transition: width 0s, left 0s;
  border-radius: 3px;
  
}

/* .navbar a:not(.active):hover::after {
  width: 100%;
  left: 0;
  transition: width 0.3s, left 0.3s;
} */
.navbar a.active {
  position: relative;
  top: 0.5px;
color: white;
  text-decoration: none;
padding: 5px 10px;
border-radius: 5px;
  /* border-bottom: 2px solid #fa7070; */
  background-color: #fa7070;
 
}

header .nav-btn {
cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  /* color: var(--textColor); */
  /* color: #29335c; */
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

header div,
.navbar {
  display: flex;
  align-items: center;
}




  

@media screen and (max-width:768px){

header{

height: 9rem;
}


  .header p{
    font-size: 1.8rem;
    line-height: 3rem;
  }
}



@media only screen and (max-width: 992px) {
  header{
    height: 9rem;
    backdrop-filter: unset; 
    background-color: #29335c;
  }
  header .nav-btn {
    visibility: visible;
    opacity: 1;

    color: white;
 
  }
  .nav-close-open {
    font-size: 3rem;

  }
  .navbar-open-icon {
    font-size: 3rem;
  }
  header .navbar {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    background-color: var(--mainColor);
    transition: 1s;
    z-index: 999999999999;
  }

  header .responsive_nav {
    transform: translateY(100vh);
    z-index: 99999999;
    color: white;

  }
  header .responsive_nav a {
    color: white;
    font-size: 2.5rem;

  }

  .navbar .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: #eee;
  }

 
}
@media only screen and (max-width: 576px) {
  .nav-close-open {
    font-size: 5rem;
  
}
header{
  height: 12rem;

}
.logo-img img{
  width: 20rem;
}
header .responsive_nav a {
  color: white;
  font-size: 16px;
}
.navbar .nav-close-btn {
  position: absolute;
  font-size: 30rem;
  top: 5rem;
  right: 2rem;
  color: #eee;
}
.navbar-open-icon{
  font-size: 4.5rem;

}
.category-search-icon{
  font-size: 4rem;
}
.header p{
  font-size: 2.5rem;
  width: 100%;
  line-height: 4rem;
}


  }


  

 


