
* {

  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

.logo-img {
  width: 16%;
  height: 100%;
  color: white;
  margin-right: 15rem;
}
.logo-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  color: white;
}

:root {
  --mainColor: #29335c;
  --mainColorLight: #5767aa;
  --secondaryColor: #db2b39;
  --textColor: #eee;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
  padding: 0 2rem;

  background-color: #ebebeb;


  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  /* color: var(--textColor); */
  z-index: 5;
  color: #29335c;
  position: sticky;
  top: 0;
}

nav a {
  margin: 0 1rem;
  /* color: var(--textColor); */
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 900;

  padding: 0.5em 0;
  position: relative;
  color: #29335c;
}

nav a::after {
  content: "";
  display: block;

  position: absolute;
  bottom: -1.6px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: var(--secondaryColor);
  transition: width 0s, left 0s;
  border-radius: 3px;
}

nav a:not(.active):hover::after {
  width: 100%;
  left: 0;
  transition: width 0.3s, left 0.3s;
}
nav a.active {
  position: relative;
  top: 1px;
  /* height: 1px; */
  text-decoration: none;

  border-bottom: 2px solid var(--secondaryColor);
}

header .nav-btn {
cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  /* color: var(--textColor); */
  /* color: #29335c; */
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

header div,
nav {
  display: flex;
  align-items: center;
}



@media screen and (max-width:1200px){
  /* .container{
    max-width: 960px!important;
  } */


  
}
  
@media screen and (max-width:992px){
  /* .container{
    max-width: 720px!important;
  } */
  header{
    height: 9rem;
  
  }
  
  }
@media screen and (max-width:768px){
/* .container{
  max-width: 540px!important;
} */
header{

height: 9rem;
}


  .header p{
    font-size: 1.8rem;
    line-height: 3rem;
  }
}



@media only screen and (max-width: 991px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
    color: var(--mainColor);
  }
  .nav-close-open {
    font-size: 3rem;

  }
  .navbar-open-icon {
    font-size: 3rem;
  }
  header nav {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1s;
    z-index: 999999999999;
  }

  header .responsive_nav {
    transform: translateY(100vh);
    z-index: 99999999;
    color: white;
  }
  header .responsive_nav a {
    color: white;
    font-size: 3rem;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: #eee;
  }

 
}
@media only screen and (max-width: 576px) {
  .nav-close-open {
    font-size: 5rem;
  
}
header{
  height: 12rem;

}
.logo-img img{
  width: 20rem;
}
header .responsive_nav a {
  color: white;
  font-size: 4.5rem;
}
nav .nav-close-btn {
  position: absolute;
  font-size: 30rem;
  top: 5rem;
  right: 2rem;
  color: #eee;
}
.navbar-open-icon{
  font-size: 4.5rem;
}

  }

  @media only screen and (max-width: 340px) {
    .nav-close-open {
      font-size: 6rem;
    
  }
  header{
    height: 13rem;
  
  }
  .logo-img img{
    width: 23rem;
  }
     
    }
  

 


