.lastwork-selection {
  padding: 1em 5em 1em 1.5em;
  background: #4d5061;
  outline: none;
  color: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  border: 0;
  border-radius: 5px;
}

.lastwork-selection option {
  font-size: 1.2em;
}
.custom-select {
  position: relative;
}
.custom-arrow {
  position: absolute;
  top: 0;
  right: 0;
  display: block;

  background: #3b3c47;
  height: 100%;
  width: 4rem;
  pointer-events: none;
  border-radius: 5px;
}
.custom-arrow:before,
.custom-arrow:after {
  --size: 0.65em;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;

  transform: translate(-50%, -50%);
}
.custom-arrow:before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid rgba(255, 255, 255, 0.5);
  top: 35%;
}
.custom-arrow:after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid rgba(255, 255, 255, 0.5);
  top: 65%;
}
.search-input {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  padding: 1em 5em 1em 1.5em;
  outline: none;
  border-radius: 5px;
}

.input-search {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  padding: 0 1.25rem;
  gap: 10px;
  border-radius: 0 0.4375rem 0.4375rem 0;
  display: flex;
  align-items: center;
}

.input-search input {
  font-size: 1.2rem;
  outline: none;
  width: 100%;
  height: 100%;
  background-color: #f7f3f3;
}
.input-search input::placeholder {
  font-size: 1.2rem;
}
.input-search img {
  width: 1.5625rem;
}
.secilenler {
  width: 6.875rem;
  height: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.secilenler img {
  width: 18px;
  margin-left: 25px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
 
  z-index: 1;
  overflow: hidden;

}

.modal-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  color: white;
  z-index: 1;
  /* background-color: rgb(3, 35, 62); */
  scroll-behavior: smooth;
  z-index: 99999999999999;
  /* padding: 2rem 0; */
}
.modal {
  position: relative;
width: 100%;

/* padding: 3rem 0;  */
/* background-color: #547533; */
/* background-color: rgb(4, 39, 68); */
/* background-color: red; */
background-color: rgb(37, 41, 45);
/* overflow-y: scroll; */
/* padding: 5rem 0; */


}

.modal .modal-1 {
position: relative;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
width: 100%;
/* height: 100%; */
padding: 10% 25%;
/* margin: 32rem 0; */
height: 100%;
/* background-color: red; */


  /* background-color: rgb(155, 125, 125); */
  list-style-type: none;
 overflow-y: scroll;
  /* border-radius: 30px; */
}
.modal .modal-1::-webkit-scrollbar {
  width: 5px;
}

.modal .modal-1::-webkit-scrollbar-track {
  background-color: #fbfbfb;
  border-radius: 1rem;
}

.modal .modal-1::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #a6c5cd);
  border-radius: 16px;
}
.modal .modal-1::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #839fa6);
}

.modal .modal-1::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff;
}
/* .modal .modal-1 li:first-child {
  display: flex;
  justify-content: center;
  width: 100%;

  justify-content: center;
  background-color: green;
  position: fixed;
  width: 12%;
  top: 80px;
} */
.modal-1 .modal-all-prices{
  position: absolute;
  top: 0;
 justify-content: center!important;
}

.modal .modal-1 li {
left: 100%;
/* margin-left: 25%; */
/* width: 250px; */

width: 60%;
  cursor: pointer;
  position: relative;
  padding: 1rem 0;
  padding-inline: 10px;
  margin-bottom: 1px;
  background-color: rgba(57, 58, 57, 0.5);
  font-size: 15px;
  font-weight: 900;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: 0;
  transition: background-color 0.3s;
  transition: all 0.2s;
 
}
.modal .modal-1-li:hover{
 color: orange;
}
.modal-angle-icon{
  font-size: 20px;
}
.modal .modal-1-li .modal-2 .modal-2-li{
  color: white;
  
}
.modal .modal-1-li .modal-2 .modal-2-li:hover{
  color: orange;
  
}

/* .modal .modal-1 li .modal-angle-icon {
  font-size: 20px;
  color: rgb(11, 68, 11);
} */
.modal-2 {
  position: absolute;
  width: 100%;
height: 300px;
left: 100%;
 top: -100px;

 /* background-color: red; */
 padding: 45px 10px;


}

.modal-2-li {
  position: absolute;
  background-color: blue;


 
 
} 
.category-search-icon {
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  /* .modal ul li .modal-angle-icon {
    color: rgb(11, 68, 11);
  }
  .modal ul li {
    margin-bottom: 5px;
    font-weight: 900;
    transition: background-color 0.3s;
  } */
}

@media screen and (max-width: 576px) {
}
