@keyframes modalProject {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.lastwork-selection {
  padding: 1em 5em 1em 1.5em;
  background: #4d5061;
  outline: none;
  color: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  border: 0;
  border-radius: 5px;
}

.lastwork-selection option {
  font-size: 1.2em;
}
.custom-select {
  position: relative;
}
.custom-arrow {
  position: absolute;
  top: 0;
  right: 0;
  display: block;

  background: #3b3c47;
  height: 100%;
  width: 4rem;
  pointer-events: none;
  border-radius: 5px;
}
.custom-arrow:before,
.custom-arrow:after {
  --size: 0.65em;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;

  transform: translate(-50%, -50%);
}
.custom-arrow:before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid rgba(255, 255, 255, 0.5);
  top: 35%;
}
.custom-arrow:after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid rgba(255, 255, 255, 0.5);
  top: 65%;
}
.search-input {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  padding: 1em 5em 1em 1.5em;
  outline: none;
  border-radius: 5px;
}

.input-search {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  padding: 0 1.25rem;
  gap: 10px;
  border-radius: 0 0.4375rem 0.4375rem 0;
  display: flex;
  align-items: center;
}

.input-search input {
  font-size: 1.2rem;
  outline: none;
  width: 100%;
  height: 100%;
  background-color: #f7f3f3;
}
.input-search input::placeholder {
  font-size: 1.2rem;
}
.input-search img {
  width: 1.5625rem;
}
.secilenler {
  width: 6.875rem;
  height: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.secilenler img {
  width: 18px;
  margin-left: 25px;
}

.overlay {
  background-color: rgba(255, 255, 255, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
 z-index: 9999999999;
  overflow: hidden;

}
.open-modal{
  overflow: hidden;
}

.modal-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;

  z-index: 1;

  scroll-behavior: smooth;
  z-index: 99999999999999;
  /* padding: 2rem 0; */
}

.project-modal {
  position: relative;
  width: 60%;

  height: 59%;

}

.project-modal .modal-1 {
position: relative;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
width: 100%;
height: 100%;
padding: 20px;
list-style-type: none;
 overflow-y: scroll;
background-color: rgba(0,0,0,0.5);
 border-radius: 10px;

}
.project-modal .modal-1::-webkit-scrollbar {
  width: 10px;
}

.project-modal .modal-1::-webkit-scrollbar-track {
  background-color: #8b8b8b;
  border-radius: 1rem;
}

.project-modal .modal-1::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #212121);
  border-radius: 16px;
}
.project-modal .modal-1::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #212121);
}

.project-modal .modal-1::-webkit-scrollbar-thumb:hover {
  background-color: #8b8b8b;
}
/* .modal .modal-1 li:first-child {
  display: flex;
  justify-content: center;
  width: 100%;

  justify-content: center;
  background-color: green;
  position: fixed;
  width: 12%;
  top: 80px;
} */
.project-modal-all-prices{
  position: absolute;
  top: -10px;
 justify-content: center!important;
cursor: pointer;
  position: relative;
  padding: 1rem 0;
  padding-inline: 10px;
width: fit-content;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-weight: 900;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--TextWithDarkBg);
transition: background-color 0.3s;
  transition: all 0.2s;
}

.project-modal-all-prices:hover{
  color: white;
}
.project-modal .modal-1 li {
  animation: modal linear both;
  animation-timeline: view();
  animation-range: entry 50% cover 20%;
/* left: 100%; */
width:50%;

  cursor: pointer;
  position: relative;
  padding: 10px 0;
  padding-inline: 10px;
  margin-bottom: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
  font-weight: 900;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: 0;
 color: var(--TextWithDarkBg);;
  transition: background-color 0.3s;
  transition: all 0.2s;
 
}
.project-modal .modal-1-li:hover{
 color: white;
}
.project-modal-angle-icon{
  font-size: 18px;
}

.project-modal .modal-1-li .modal-2 .modal-2-li{
  color: var(--TextWithDarkBg);
  width: fit-content;
  
}
.project-modal .modal-1-li .modal-2 .modal-2-li:hover{
color: white;
  
}

/* .modal .modal-1 li .modal-angle-icon {
  font-size: 20px;
  color: rgb(11, 68, 11);
} */
.modal-2 {
  position: absolute;
  width: 100%;
/* background-color: red; */
/* height: 300px; */
left: 100%;
 top: -45px;
padding: 45px 10px;
}

.modal-2 .modal-2-li {
 word-wrap: break-word;
  position: absolute;

width: fit-content;

  color: white;
} 
.category-search-icon {
  font-size: 2rem;
}
@media screen and (max-width: 1200px){}
@media screen and (max-width: 992){}

@media screen and (max-width: 768px) {
  .project-modal {

    width: 80%;
  
  
  }
  .project-modal .modal-1{
    width: 100%;
  }
  
  .project-modal .modal-1 li{
width:50%;
  cursor: pointer;
  position: relative;
  /* padding: 10px 0; */
  padding-inline: 10px;
 font-size: 14px;
margin-bottom: 3px;
  font-weight: 900;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: 0;
  transition: background-color 0.3s;
  transition: all 0.2s;
  }
  
  .project-modal-all-prices{
    font-size: 14px;
  }
  .project-modal-angle-icon{
    font-size: 14px;
  }
  
}

@media screen and (max-width: 576px) {
  .project-modal{
    width: 95%;
  }
  .project-modal .modal-1 li{
    left: 100%;
/* margin-left: 25%; */
/* width: 250px; */

/* width:80%; */
  cursor: pointer;
  position: relative;
  padding: 1.5rem 0;
  padding-inline: 1.2rem;
font-size: 3rem;
  font-weight: 900;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: 0;
  transition: background-color 0.3s;
  transition: all 0.2s;
  }
  .project-modal-angle-icon{
    font-size: 2.5rem;
  }
  .modal-2-li{
    word-wrap: break-word;
  }
  .project-modal-all-prices{
    font-size: 2.5rem;
 
  }
  .project-modal-all-prices{
    font-size: 3rem;
  }
}
