.lastwork-selection {
  padding: 1em 5em 1em 1.5em;
  background: #4d5061;
  outline: none;
  color: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  border: 0;
  border-radius: 5px;
}

.lastwork-selection option {
  font-size: 1.2em;
}
.custom-select {
  position: relative;
}
.custom-arrow {
  position: absolute;
  top: 0;
  right: 0;
  display: block;

  background: #3b3c47;
  height: 100%;
  width: 4rem;
  pointer-events: none;
  border-radius: 5px;
}
.custom-arrow:before,
.custom-arrow:after {
  --size: 0.65em;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;

  transform: translate(-50%, -50%);
}
.custom-arrow:before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid rgba(255, 255, 255, 0.5);
  top: 35%;
}
.custom-arrow:after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid rgba(255, 255, 255, 0.5);
  top: 65%;
}
.search-input {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  padding: 1em 5em 1em 1.5em;
  outline: none;
  border-radius: 5px;
}

.kateqoriya-sec {

  display: flex;
  width: 50%;
  justify-content: center;
  height: 3rem;
  margin-inline: auto;
  /* border: 1px solid #8e9c8e; */
  border-radius: 1.25rem;
  /* padding: 0 15px; */
  z-index: 69869067060;
}

.kateqoriya {

  width: 100%;
  padding: 0 1.25rem;
  display: flex;
  align-items: center;
  border-right: 1px solid #ccd8cc;
  border-radius: 0.4375rem 0 0 0.4375rem;
  gap: 1.25rem;
  background-color: #f2f2f2;
}

.kateqoriya img {
  width: 0.9375rem;
}

.kateqoriya p {
  color: #484b5e;
  font-size: 1.2rem;
}

.kateqoriya-sec input {
  border: none;
}

.input-search {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  padding: 0 1.25rem;
  gap: 10px;
  border-radius: 0 0.4375rem 0.4375rem 0;
  display: flex;
  align-items: center;
}
.category-icon {
  cursor: pointer;
  font-size: 1.5rem;
 
}

.input-search input {
  font-size: 1.2rem;
  outline: none;
  width: 100%;
  height: 100%;
  background-color: #f7f3f3;
}
.input-search input::placeholder {
  font-size: 1.2rem;
}
.input-search img {
  width: 1.5625rem;
}
.secilenler {
  width: 6.875rem;
  height: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.secilenler img {
  width: 18px;
  margin-left: 25px;
}
.modal-section {
  z-index: 1;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 1;
  overflow: hidden;
  
}


.modal-wrapper {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  padding: 0 30rem;
  /* border-radius: 10px; */
  z-index: 2; 
background-color: rgb(16, 42, 62);
  overflow-y: scroll;
  scroll-behavior: smooth;
}


.modal-wrapper::-webkit-scrollbar {
  width:10px;

}

.modal-wrapper::-webkit-scrollbar-track {
  background-color: #fbfbfb;
  border-radius: 1rem;
}

.modal-wrapper::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #a6c5cd);
  border-radius: 16px;
}
.modal-wrapper::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #839fa6);
}

.modal-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff;
}

.modal ul {

  list-style-type: none;
  margin: 20px;
 
}
.modal ul li {
  margin-inline: auto;
  width: 90%;
  cursor: pointer;
  position: relative;
  padding: 1rem 0 1rem 2rem;

  margin-bottom: 5px;
  background-color: rgba(255, 255, 255, 0.8);
font-size: 15px;
font-weight: 900;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
 
transition: background-color 0.3s;
}

.modal ul li .modal-angle-icon {
  font-size: 20px;
color: rgb(11, 68, 11);
}
.modal-2 {
  position: absolute;
  top: 0;
  left: 100%;
  height: 300px;

  /* background-color:rgba(0, 0, 0, 0.5); */
}
.modal-2-li {
  width: 200px;
}
.category-search-icon {
  font-size: 2rem;
}


@media screen and (max-width: 768px) {
  .modal ul li .modal-angle-icon {
    font-size: 15px;
  color: rgb(11, 68, 11);
  }
  .modal ul li {
    
    /* padding: 0.5rem 2rem; */
    margin-bottom: 5px;
    background-color: rgba(217, 195, 195, 0.8);
  font-size: 13px;
  font-weight: 900;
    
   
   
  transition: background-color 0.3s;
  }
}



@media screen and (max-width: 576px) {
  .modal-section {
    width: 200px;
    margin-inline: auto;
  }
  .kateqoriya-sec {
    /* width: 200px; */
    margin-inline: auto;
  }
  .modal-section {
    /* width: 200px; */
    margin-inline: auto;
  }
  .kateqoriya {
    /* width: 200px; */
    margin-inline: auto;
  }
}
