.lastwork-selection {
  padding: 1em 5em 1em 1.5em;
  background: #4d5061;
  outline: none;
  color: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  border: 0;
  border-radius: 5px;
}

.lastwork-selection option {
  font-size: 1.2em;
}
.custom-select {
  position: relative;
}
.custom-arrow {
  position: absolute;
  top: 0;
  right: 0;
  display: block;

  background: #3b3c47;
  height: 100%;
  width: 4rem;
  pointer-events: none;
  border-radius: 5px;
}
.custom-arrow:before,
.custom-arrow:after {
  --size: 0.65em;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;

  transform: translate(-50%, -50%);
}
.custom-arrow:before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid rgba(255, 255, 255, 0.5);
  top: 35%;
}
.custom-arrow:after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid rgba(255, 255, 255, 0.5);
  top: 65%;
}
.search-input {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  padding: 1em 5em 1em 1.5em;
  outline: none;
  border-radius: 5px;
}






.input-search {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  padding: 0 1.25rem;
  gap: 10px;
  border-radius: 0 0.4375rem 0.4375rem 0;
  display: flex;
  align-items: center;
}


.input-search input {
  font-size: 1.2rem;
  outline: none;
  width: 100%;
  height: 100%;
  background-color: #f7f3f3;
}
.input-search input::placeholder {
  font-size: 1.2rem;
}
.input-search img {
  width: 1.5625rem;
}
.secilenler {
  width: 6.875rem;
  height: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.secilenler img {
  width: 18px;
  margin-left: 25px;
}

.modal-section {
  z-index: 99999999;
}
.overlay {

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 1;
  overflow: hidden;
}

.modal-wrapper {



  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  color: white;
  z-index: 99999999999999;

  background-color: rgb(3, 35, 62);
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.modal-wrapper::-webkit-scrollbar {
  width: 1px;
}

.modal-wrapper::-webkit-scrollbar-track {
  background-color: #fbfbfb;
  border-radius: 1rem;
}

.modal-wrapper::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #a6c5cd);
  border-radius: 16px;
}
.modal-wrapper::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #839fa6);
}

.modal-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff;
}

.modal ul {
 padding: 0 30px;
  width: 500px;
height: 400px;
/* background-color: red; */
  list-style-type: none;
overflow: hidden;
overflow-y: scroll;
border-radius: 30px;



}
.modal ul::-webkit-scrollbar {
  width: 5px;
}

.modal ul::-webkit-scrollbar-track {
  background-color: #fbfbfb;
  border-radius: 1rem;
}

.modal ul::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #a6c5cd);
  border-radius: 16px;
}
.modal ul::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #839fa6);
}

.modal ul::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff;
}
.modal ul li:first-child{
  display: flex;
  justify-content: center;
  width: 100%;
/* font-size: 1.8rem; */
justify-content: center;
background-color: green;
position: fixed;
width: 12%  ;
top: 80px;
}

.modal ul li {

  margin-inline: auto;
  width: 100%;
  cursor: pointer;
  position: relative;
padding: 1rem 0;
 

  /* height: 40px; */
  padding-left: 10px;

  margin-bottom: 5px;
  background-color: rgba(57, 58, 57, 0.5);
  font-size: 15px;
  font-weight: 900;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: background-color 0.3s;
}

.modal ul li .modal-angle-icon {
  font-size: 20px;
  color: rgb(11, 68, 11);
}
.modal-2 {
  position: absolute;
  top: -16px;
  left: 94%;
  width: 200px;
  /* height: 600px; */

  /* background-color:rgba(0, 0, 0, 0.5); */
}
.modal-2 ul {
  padding: 20px;
  background-color: red;
}
.modal-2-li {
  position: absolute;
  width: 200px;
}
.category-search-icon {
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .modal ul li .modal-angle-icon {
    /* font-size: 15px; */
    color: rgb(11, 68, 11);
  }
  .modal ul li {
    /* padding: 0.5rem 2rem; */
    margin-bottom: 5px;

    font-weight: 900;

    transition: background-color 0.3s;
  }
}

@media screen and (max-width: 576px) {
  .modal-section {
    width: 200px;
    margin-inline: auto;
  }

  .modal-section {
    /* width: 200px; */
    margin-inline: auto;
  }

  .modal ul li {
    /* padding: 0.5rem 2rem; */
    margin-bottom: 5px;
    font-size: 12px;

    font-weight: 900;

    transition: background-color 0.3s;
  }
}
