


.slider1 {

  width: 100%;
  height: 50vw;

 

  &__img {
   
    object-fit: cover;
    width: 100%;
    height: 100%;


  }

  &__content {
    /* position: relative; */
    background: linear-gradient(to bottom, rgba(0, 59, 126, 0.1), rgba(2, 1, 25, 0.5));
  
   &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(rgba(19, 15, 71, 0.6), rgba(0, 0, 0, 0.6)); */
    background: linear-gradient(to bottom, rgba(0, 59, 126, 0.3), rgba(2, 1, 25, 0.9));
    z-index: 0;
  }
    h1 {
   
      position: absolute;
     
      display: block;
      margin-inline: auto;
      /* text-align: right; */
      width: 100%;
      /* top: 9%; */
      right: 0;
      /* padding: 3rem 2rem 15rem 5rem; */
      /* padding-right: 5%; */
      padding: 2rem 0;
      font-size: 7rem;
      /* width: 40ch; */
      /* color: #b4b1b1; */
      color:var(--TextWithDarkBg);
      /* opacity: 0.2; */
      z-index: 9;
      bottom: 15%;
    }

    p {
      position: absolute;
      width: 100%;
      bottom: 0;
      font-size: 2rem;
    
      color:var(--TextWithDarkBg);
      padding: 3rem 0;
  z-index:1;
    /* padding: 0.625rem; */
text-align: center;
    /* background: linear-gradient(to bottom,rgba(0, 0, 0, 0), rgb(1, 34, 75,0.8)); */
    font-weight: 500;
    line-height: 2;

    }

    button {
      
      position: relative;
    display: inline-flex;
    font-size: 0.9rem;
    padding: 0.9375rem 1.875rem;
    background-color: var(--mainBlue);
    overflow: hidden;
    color: #fff;
    border-radius: 0.3rem;
    }
  }
}

.slider1__content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
 
  
}

 