* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}
/* heading start */
.serviceHeader {
  background-color: #f6f6f6;
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.serviceTitle {
  text-align: center;
}

.serviceTitle {
  text-align: center;
}
.serviceTitle h2 {
  display: inline-block;
  font-size: 40px;
}
.serviceLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: fit-content; */
  gap: 0.5rem;
}

.serviceLinks a {
  font-size: 20.8px;
  color: #0000ff;
  font-weight: 500;
}
.serviceLinks .serviceLink {
  color: #737b9a;
}

.serviceLinks .angleIcon {
  font-size: 1.5rem;
  margin-top: 0.1rem;
  color: #737b9a;
}
.serviceTitle span {
  /* border-bottom: 2px solid #f78da7; */
  font-size: 2.5rem;
  padding-bottom: 1.2rem;
}
/* heading end */

/* first section start */
.firstSection {
  display: flex;
  width: 100%;
  align-items: center;
  padding-bottom: 5rem;
  gap: 5rem;
  &__textContent {
    word-wrap: break-word;
    /* padding: 0 2rem; */
    width: 50%;
    display: flex;
    flex-direction: column;
   
    /* justify-content: space-between; */
    gap: 2rem;
  }
  .TitleContainer {
    display: flex;
    flex-direction: column;

    gap: 1.5rem;
  }
  .titleContainerTitle {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .contentOfTitle {
    font-size: 1.2rem;
    line-height:2rem;
    color: var(--TextColor);
  }
  .titleContainerTitle h2 {
    font-size: 1.5rem;
  }
  &__header {
    font-size: 1.5rem;
    color: blue;
    font-weight: 500;
    width: 100%;
  }
  &__title {
    font-size: 2rem;
    width: 100%;
    padding-right: 10rem;
    font-weight: 600;
    padding-right: 0;
  }

  &__description {
    display: inline-block;
    word-wrap: break-word;


    color: #737b9a;
    line-height: 2rem;
    font-size: 1.2rem;

    font-weight: 500;
    padding-right: 0;
  }
  &__ContentContainer {
    display: flex;
    flex-direction: column;
  }
  &__ListTtitleContainer {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 0.5rem;
    width: 100%;
  }
  &__list-title-icon {
    font-size: 2rem;
    color: #0000ff;
  }
  &__list-title-description {
    position: relative;
    font-size: 1.5rem;
    font-weight: 600;
    width: 100%;
  }

  &__imgContainer {
    width: 50%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

/* first section end */

@media screen and (max-width: 992px) {
  .container {
    max-width: 720px!important;
  }

  .firstSection {
    /* flex-direction: column-reverse; */
    flex-direction: column;
    padding-bottom: 15rem;

    gap: 2rem;
    width: 100%;
    &__textContent {
      width: 100%;
      gap: 4rem;

   

    }
    

    &__header {
      text-align: center;
    }
    &__title {
      padding-right: 0;
      text-align: center;
    }

    &__description {
      padding-right: 0;
      /* text-align: center; */
    }
    &__ListTtitleContainer {
      display: flex;
      justify-content: space-around;
      width: fit-content;
    }
    &__imgContainer {
      width: 100%;
      order: -1;
    }
  }
  .firstSection__title{
    font-size: 2.5rem;
    text-align: left;
  }
  .firstSection__description,
  .firstSection .contentOfTitle{
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .firstSection .titleContainerTitle h2{
    font-size: 2rem;
  }
 
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 540px!important;
  
  }
 .firstSection{
  padding-bottom: 25rem;
 }
 .firstSection__description,
 .firstSection .contentOfTitle{
   font-size: 1.8rem;
   line-height: 3rem;
 }
}


@media screen and (max-width: 576px) {
  .container {
    max-width: 90%!important;
  
  }
  .firstSection__title{
    font-size: 3.5rem;
    text-align: left;
  }
 .firstSection{
  padding-bottom: 25rem;
 }
 .firstSection__description,
 .firstSection .contentOfTitle{
   font-size: 2rem;
   line-height: 4rem;
 }
 .firstSection .titleContainerTitle h2{
  font-size: 3rem;
}
.firstSection__description,
.firstSection .contentOfTitle{
 
  line-height: 3.5rem;
}
}

/* R end */
