


.teamSection .teamHeaderContainer {
  text-align: center;
  padding: 5rem 0;

}
.teamSection .teamHeaderContainer p {

  font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--blueText);
    font-weight: 500;
}
.teamSection .teamHeaderContainer h2 {

  font-size: 2rem;
}
.teamSection .team-container {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5rem 0;
  gap: 2rem;
  
  &__socialContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: absolute;
    padding: 0.5em;
    border-radius: 4rem;
    background-color: #fff;

    z-index: 1;
    top: 3rem;
    left: 50%;
    transform: translate(-50%, 0);
    margin-inline: auto;
    opacity: 0;
    transition: all 0.6s;
  }
  &__teamSocialIcon {
    /* padding: 1rem; */
    transition: all 0.3s;
    opacity: 1;
    font-size: 22px;
    color: rgb(60, 60, 205);
  }
  &__teamSocialIcon:hover {
    color: orange;
  }

  &__cardContainer {
    position: relative;
    width: calc(33.3% - 1.4rem);
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s;
    cursor: pointer;
    border-radius: 0.6rem;
 
    &:hover {
      transform: translateY(-10px);
    }
    &:hover .team-container__socialContainer {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 1;
    }

    &:hover {
      .team-container__profile-details {
        background-color: blue;
      }
      &:hover .team-container__name,
      &:hover .team-container__job {
    
        color: white;
      }
      &:hover .team-container__profile-container {
        position: relative;
        & img {
          transform: scale(1.2);
        }
      }
    }
  }
  &__profile-container {
    position: relative;
    width: 100%;
    height: 30rem;
 overflow: hidden;
 background-color: rgb(2, 0, 0);
 border-radius: 1rem 1rem 0 0 ;

    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
      transition: all 0.5s;
      border-radius: 1rem 1rem 0 0 ;
    }
  }
  &__profile-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    background-color: #fff;
    padding: 20px 0;
    transition: all 0.5s;
    border-radius: 0 0 0.6rem 0.6rem;
  }
  &__name {


    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
text-align: center;
    font-size: 1.8rem;
    font-weight: 600;

  }
  &__job {
    text-align: center;
    font-size: 1.3rem;
    color: blue;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px !important;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 720px !important;
  }

  
  .section-2 .cardsContainer .card h2 {
    font-size: 20px;
  }
  .section-2 .cardsContainer .card .description {
    font-size: 16px;
  }
  .section-2 .cardsContainer .card .cardList p {
    font-size: 15px;
  }

  .section-3 .left .selected-title-container .selected-title {
    font-size: 25px;
  }

  .section-3 .left .selected-description {
    font-size: 16px;
  }
  .section-3 .left .description {
    font-size: 16px;
    padding-bottom: 1.5rem;
  }
  .section-3 .left .selected-title-container .tick-icon {
    font-size: 30px;
  }
  .teamSection .team-container__profile-container {
    height: 250px;
  }
  .teamSection .team-container__profile-details {
    padding: 10px 0;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 540px !important;
  }
  .teamSection .team-container {
    width: 100%;
gap: 6rem;
    flex-direction: column;
   &__cardContainer{
     width: 100%;
  }
}
  .teamSection .team-container__profile-container {
    /* width: 800px; */
    height: 800px;
  }
  /* .team-container__cardContainer{
    width: 800px;
  } */
  /* .team-container__cardContainer{
    width: 800px;
   
  } */
  .teamSection .team-container__profile-details {
    padding: 40px 0;
  }
  .teamSection .team-container__name{
    font-size: 25px;


  }
  .teamSection .team-container__job{
    font-size: 18px;
  }
  .teamSection .team-container__profile-details{
    gap: 2rem;
  }
 
  
  .section-3 .left .header{
    font-size: 20px;
  }

  .section-2 .cardsContainer .card .description {
    line-height: 25px;
  }
  .section-2 .cardsContainer{
    gap: 50px;
  }
  .teamSection .teamHeaderContainer p{
    font-size: 20px;
  }
  .teamSection .teamHeaderContainer h2{
    font-size: 20px;
  }
  .section-2 .cardsContainer .card {
    gap: 20px;
  }
  
  .section-3 .left .description {
    line-height: 25px;
  }
  .section-3 .left .selected-description {
    line-height: 25px;
    text-align: start;
  }
  .section-3 .left .title {
    font-size: 20px;
  }

  .section-2 .cardsContainer .card .cardList p {
    font-size: 15px;
  }
  .section-2 .cardsContainer .card .cardListsContainer{
    gap: 20px;
  }
}
@media screen and (max-width: 576px) {
  .container {

    max-width: 100%!important;
  }
  .section-3{
    margin-inline: auto;
  }
  .section-3 .left, .section-3 .right{
    margin-inline: auto;
    width: 90%;
  }
  .teamSection .team-container{
    width: 90%;
    margin-inline: auto;
  }
  .teamSection .team-container__profile-container{
    height: 80rem;
  }
  .teamSection .team-container__profile-details{
    padding: 3rem 0;
  }

  
}
