
.teamSection .teamHeaderContainer{
  text-align: center;
  padding: 5rem 0;
}
.teamSection .teamHeaderContainer p{
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: blue;
  font-weight: 500;
}
.teamSection .teamHeaderContainer h2{
  font-size: 2.5rem;

}
.teamSection .team-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5rem 0;
  gap: 3rem;
  &__cardContainer {
    position: relative;
    width: 410px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s;
    cursor: pointer;
    &:hover{
      transform: translateY(-10px);
    }
    &:hover {
      .team-container__profile-details {
        background-color: blue;
      }
      &:hover .team-container__name,
      &:hover .team-container__job {
        color: white;
      }
      &:hover .team-container__profile-container {
        & img {
          transform: scale(1.2);
        }
      }
    }
  }
  &__profile-container {
    position: relative;
    width: 100%;
    height: 400px;

    overflow: hidden;

    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
      transition: all 0.5s;
    }
  }
  &__profile-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    background-color: #fff;
    padding: 20px 0;
    transition: all 0.5s;
  }
  &__name {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
  }
  &__job {
    text-align: center;
    font-size: 1.3rem;
    color: blue;
    font-weight: 500;
  }
}




