.swiper {
  width: 100%;
  height: 100%;
  padding: 3rem 0;

}

.swiper-slide {
  text-align: center;
  font-size: 18px;
 display: flex;
  justify-content: center;
  align-items: center;

}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.teamHeaderContainer {
  text-align: center;
  padding: 5rem 0;
  p {
    font-size: 20px;
    margin-bottom: 1rem;
    color: var(--blueText);
    font-weight: 500;
  }
  h2 {
    font-size: 32px;
  }
}

.team-container {
  padding: 0 8rem 5rem 8rem;

  gap: 2rem;

  &__socialContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: absolute;
    padding: 0.2em 0.5em;
    border-radius: 4rem;
    background-color: #fff;

    z-index: 1;
    top: 3rem;
    left: 50%;
    transform: translate(-50%, 0);
    margin-inline: auto;
    opacity: 0;
    transition: all 0.6s;
  }
  &__teamSocialIcon {
    /* padding: 1rem; */
    transition: all 0.3s;
    opacity: 1;
    font-size: 24px;
    color: rgb(60, 60, 205);
  }
  &__teamSocialIcon:hover {
    color: orange;
  }

  &__cardContainer {
    position: relative;

    /* height: 800px; */
    /* width: calc(33.3% - 1.4rem); */
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;

    &:hover {
      transform: translateY(-10px);
    }
    &:hover .team-container__socialContainer {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 1;
    }

    &:hover {
      .team-container__profile-details {
        background-color: blue;
      }
      &:hover .team-container__name,
      &:hover .team-container__job {
        color: white;
      }
      &:hover .team-container__profile-container {
        position: relative;
        & img {
          transform: scale(1.2);
        }
      }
    }
  }
  &__profile-container {
    position: relative;
    width: 100%;
    height: 300px;

    overflow: hidden;
    background-color: rgb(2, 0, 0);
    border-radius: 5px 5px 0 0;

    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
      transition: all 0.5s;
      border-radius: 5px 5px 0 0;
    }
  }
  &__profile-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    background-color: #fff;
    padding: 1rem 0;
    transition: all 0.5s;
    border-radius: 0 0 0.6rem 0.6rem;
  }
  &__name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
  }
  &__job {
    text-align: center;
    font-size: 1.3rem;
    color: blue;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
@media screen and (max-width: 1200px) {
  .team-container {
    padding: 0 8rem 5rem 8rem;
    gap: 2rem;

    &__teamSocialIcon {
      opacity: 1;
      font-size: 24px;
    }
    &__profile-container {
      width: 100%;
      height: 260px;
      overflow: hidden;
    }
    &__profile-details {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      width: 100%;
      background-color: #fff;
      padding: 1rem 0;
      transition: all 0.5s;
      border-radius: 0 0 0.6rem 0.6rem;
    }
    &__name {
      font-size: 1.5rem;
      font-weight: 600;
    }
    &__job {
      font-size: 1.3rem;
      font-weight: 500;
    }
  }
}

@media screen and (max-width: 992px) {
  .section-3 .left .selected-title-container .tick-icon {
    font-size: 30px;
  }
  .teamSection .team-container__profile-container {
    height: 100px;
  }
  .teamSection .team-container__profile-details {
    padding: 10px 0;
  }
}

@media screen and (max-width: 768px) {
  .teamSection .team-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .teamSection .team-container__cardContainer {
    width: calc(50% - 1rem);
  }
}
@media screen and (max-width: 576px) {
  .section-3 {
    margin-inline: auto;
  }
  .section-3 .left,
  .section-3 .right {
    margin-inline: auto;
    width: 100%;
  }
  .teamSection .team-container {
    width: 100%;
    margin-inline: auto;
    gap: 5rem;
  }
  .teamSection .team-container__cardContainer {
    width: 100%;
  }
  /* .teamSection .team-container{
    height: 400px;
  } */

  .teamSection .team-container__profile-details {
    padding: 3rem 0;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
  }
  .teamSection .team-container__name {
    font-size: 4rem;
  }
  .teamSection .team-container__job {
    font-size: 3rem;
  }

  .teamSection .teamHeaderContainer h2 {
    font-size: 5rem;
  }
}
