* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}

/* heading start */
.blogHeader {
  background-color: #fafafc;
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.blogTitle {
  text-align: center;
}

.blogTitle {
  text-align: center;
}
.blogTitle h2 {
  display: inline-block;
  font-size: 2.5rem;
}
.blogLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 0.5rem;
}

.blogLinks a {
  font-size: 1.3rem;
  color: #0000ff;
  font-weight: 500;
}
.blogLinks .blogLink {
  color: #737b9a;
}

.blogLinks .angleIcon {
  font-size: 1.5rem;
  margin-top: 0.1rem;
  color: #737b9a;
}
.blogTitle span {
  border-bottom: 2px solid #f78da7;
  font-size: 2.5rem;
  padding-bottom: 1.2rem;
}
/* heading end */
