/* heading start */

/* blogs */
.blogs {
  display: flex;
  gap: 3rem;
  padding: 5rem 0;
}
.blogs .left {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 78%;
  gap: 1rem;
}
.blogs .left .cards-container {
width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  align-self: flex-start;
}
.blogs .left a {
  width: calc(100% / 3.1);
}

.blogs .left a .card {
  padding: 0;
  margin: 0;
  cursor: pointer;

  border-radius: 5px;
  border: 1px solid #ddd;
  overflow: hidden;
  transition: 0.4s all;
}
.blogs .left a .card .cardImgContainer {
  height: 200px;
}
.blogs .left a .card .cardImgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}
.blogs .left a .card:hover .cardImgContainer img {
  transform: scale(1.2) rotate(5deg);
}
.blogs .left a .card .bottom-content {
  background-color: #fff;
  line-height: 1.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  max-height: 7rem;
}

.blogs .left a .card .bottom-content h2 {
  font-size: 1.2rem;
}

.blogs .left a .card .bottom-content h2,
.blogs .left a .card .bottom-content p {
  transition: transform 0.5s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.blogs .left a .card .bottom-content p {
  color: var(--TextColor);
  font-size: 1.2rem;
}
.blogs .left a .card:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.blogs .left a .card:hover .bottom-content h2 {
  color:  var(--mainBlue);
}
.blogs .left a .card:hover .bottom-content::after {
  opacity: 1;
  display: block;
  transform: translateY(-1rem);
}

.blogs .left a .card:hover .bottom-content h2,
.blogs .left a .card:hover .bottom-content p {
  transform: translateY(-1rem);
  transition: all 0.8s;
}
.blogs .left a .card .bottom-content {
  padding: 2rem 1rem;
  transition: transform 0.7s;
  position: relative;
  z-index: 1;

  color: #010211;
}
.blogs .left a .card .bottom-content::after {
  position: relative;
  content: "Reade more";
  align-items: center;

  position: absolute;
  cursor: pointer;
  opacity: 0;
  transition: all 1s, opacity 0.7s;
  color:  var(--mainBlue);
  font-weight: 500;
  font-size: 1rem;
}

/* right start */
.blogs .right {
  display: flex;
  flex-direction: column;
  width: 22%;
  gap: 2rem;
}
.blogs .right .search {
  padding: 1rem;
  width: 100%;
 background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.blogs .right .search .input-button-container {
  display: flex;
}
.blogs .right .search .input-button-container input {
  width: 100%;
  padding: 10px;
  outline: none;
}
.blogs .right .search .input-button-container .search-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  var(--mainBlue);
  width: 4rem;
  transition: all 0.5s;
}
.blogs .right .search .input-button-container .search-icon-container:hover {
  cursor: pointer;
  background-color: #f78da7;
}
.blogs
  .right
  .search
  .input-button-container
  .search-icon-container
  .search-icon {
  color: white;
  font-size: 1.5625rem;
  cursor: pointer;
}

.blogs .right .recent-posts-container {
  width: 100%;
  display: flex;
  flex-direction: column;

  padding: 1rem;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.blogs .right .recent-posts-container h2 {
  padding: 1rem 0;
  width: 100%;
  border-bottom: 1px solid #f9f9f9;
  font-size: 1.2rem;
}

.blogs .right .recent-posts-container .post-details {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid #eeeeee;
  padding: 1rem 0;
  /* cursor: pointer; */
}
.blogs .right .recent-posts-container .post-details .details-img {
  position: relative;
  width: 5rem;
  height: 5rem;
}
.blogs .right .recent-posts-container .post-details .details-img img {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blogs .right .recent-posts-container .post-details .description {
  /* position: absolute; */
  width: 60%;
}
.recent-description p {
  line-height: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* overflow: hidden;
  display: -webkit-box; */
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  max-height: 3.02rem;
}

.blogs .right .recent-posts-container .post-details .description .date {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
.blogs .right .recent-posts-container .post-details .description .title {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.01rem;
}
.blogs .right .category-container {
  width: 100%;
  background-color: white;
  padding: 1.5rem;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.blogs .right .category-container .category-list-container {
  padding: 1rem;
}
.blogs .right .category-container p {
  position: relative;
  font-size: 1rem;
  font-weight: 500;
  display: block;
  margin-left: 1.5rem;
  margin-bottom: 0.7rem;
  cursor: pointer;
}
.blogs .right .category-container p:hover {
  color: var(--mainBlue);
}
.blogs .right .category-container p::before {
  position: absolute;

  content: "";
  display: inline-block;
  width: 0.7rem;
  height: 0.7rem;
  background-color:  var(--mainBlue);
top: 0.2rem;
  left: -2.5rem;
}
.blogs .right .category-container .title {
  font-size: 1rem;
  border-bottom: 1px solid #eeeeee;
  padding: 1rem 0;
}

.blogs .right .tags-container {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  background-color: white;
  padding: 1.5rem 1.5rem 1.5rem;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.blogs .right .tags-container .title {
  width: 100%;
  font-size: 1rem;
  border-bottom: 1px solid #eeeeee;
  padding: 1rem 0;
}
.blogs .right .tags-container .tags {
  width: 100%;
  display: flex;
flex-wrap: wrap;
  gap: 0.5rem;
}

.blogs .right .tags-container .tags p {
  display: block;
  padding: 0.5rem;
  border: 1px solid #eeeeee;
 font-weight: 600;
  transition: 0.5s;
  font-size: 0.8rem;
}
.blogs .right .tags-container .tags p:hover {
  background-color:  var(--mainBlue);
  color: white;
}

/* right end */

@media screen and (max-width: 1200px) {
  
  .blogs .left a .card .cardImgContainer {
    height: 180px;
  }
  .blogs .left a .card .bottom-content {
    padding: 1.6rem 1rem;
    line-height: 1.5rem;
  }
}

@media screen and (max-width: 992px) {

  .blogs .left a .card .cardImgContainer {
    height: 25rem;
  }

  .blogs .left a .card .bottom-content {
    line-height: 2.5rem;
    padding-bottom: 7rem;
    padding-top: 3rem;
  }

  .blogs {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .blogs .left {
    width: 100%;
  }
  .blogs .left .cards-container {
    width: 100%;
    justify-content: flex-start;
  }

  .blogs .left a {
    width: calc(100% / 2.05);
  }
  .blogs .right .tags-container .tags p {
    display: block;
    padding: 1rem 1.5rem;
    border: 1px solid #eeeeee;
    width: fit-content;
    font-weight: 600;

    font-size: 1.5rem;
  }

  .blogs .right {
    width: 100%;
  }

  .blogs .left a .card .bottom-content h2 {
    font-size: 1.8rem;
  }

  .blogs .left a .card .bottom-content p,
  .blogs .left a .card .bottom-content::after {
    font-size: 1.5rem;
  }

  .blogs .right .recent-posts-container .post-details .description {
    /* width: 100%; */
    align-self: flex-start;
    padding-top: 0.8rem;
  }
  .blogs .right .tags-container .tags {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .blogs .right .search {
    padding: 3rem;
    width: 100%;
  }
  .blogs .right .recent-posts-container {
    padding: 3rem;
  }
  .blogs .right .search .input-button-container input{
    font-size: 1.5rem;
  }
  .blogs .right .search .input-button-container input::placeholder {
    font-size: 1.5rem;
  }
  .blogs .right .recent-posts-container .post-details .description .date {
    font-size: 1.5rem;
    margin-bottom: 1.6rem;
  }
  .blogs .right .recent-posts-container .post-details .description .title {
    font-size: 1.5rem;
  }

  .blogs .right .recent-posts-container .post-details {
    padding: 3rem 0;
    gap: 3rem;
  }
  .blogs .right .recent-posts-container h2 {
    font-size: 2rem;
  }

  .blogs .right .recent-posts-container .post-details .details-img {
    width: 15rem;
    height: 10rem;
  }
  .blogs .right .category-container {
    padding: 3rem;
  }

  .recent-description p {
    font-size: 2rem;
  }
  .blogs .right .category-container .title {
    padding-bottom: 3rem;
    font-size: 2rem;
  }

  .blogs .right .category-container p {
    font-size: 1.5rem;
    margin-left: 3.125rem;
    margin-bottom: 1.2rem;
  }
  .blogs .right .category-container p::before {
    width: 1rem;
    height: 1rem;
    top: 0.3rem;
    left: -3.125rem;
  }
  .blogs .right .tags-container {
    flex-wrap: wrap;
    gap: 2.5rem;
    padding: 3rem 2rem 3rem 3rem;
  }
  .blogs .right .tags-container .title {
    padding-bottom: 3rem;
    font-size: 2rem;
  }
  .blogs .right .tags-container .tags .link-container a {
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
  }
  .blogs .right .category-container .category-list-container {
    padding: 3rem 0;
  }
}

@media screen and (max-width: 768px) {

  .blogs {
    flex-direction: column;
  }
  .blogs .right {
    width: 100%;
  }
  .blogs .left .cards-container a {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .blogs .left .cards-container a .card {
    width: 100%;
  }
  .post-details .recent-description p {
    font-size: 1.8rem;
  }

  .blogs .left a .card .cardImgContainer {
    height:300px;
  }

  .blogs .right .recent-posts-container .post-details .description .title {
    width: 100%;
  }
  .blogs .left a .card .bottom-content {
    width: 100%;
  }

  .blogs .right .category-container p {
    font-size: 1.5rem;
  }


  .blogs .right .category-container .category-list-container {
    padding: 3rem 0rem;
  }

  .blogs .left a .card .bottom-content {
    line-height: 3.5rem;
    padding-left: 2rem;
    padding-bottom: 10rem;
    padding-top: 4rem;
  }

  .blogs {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .blogs .left {
    width: 100%;
  }
  .blogs .left .cards-container {
    width: 100%;
    justify-content: flex-start;
  }

  .blogs .left a {
    width: calc(100% / 2.05);
  }
  .blogs .right .tags-container .tags p {
    display: block;
    padding: 1rem 1.5rem;
    border: 1px solid #eeeeee;
    width: fit-content;
    font-weight: 600;

    font-size: 1.5rem;
  }

  .blogs .right {
    width: 100%;
  }

  .blogs .left a .card .bottom-content h2 {
    font-size: 2.5rem;
  }

  .blogs .left a .card .bottom-content p,
  .blogs .left a .card .bottom-content::after {
    font-size: 2rem;
  }
}

@media screen and (max-width: 576px) {
 
  .blogs {
    flex-direction: column;
  }
  .blogs .right {
    width: 100%;
  }
  .blogs .left .cards-container a {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .blogs .left .cards-container a .card {
    width: 100%;
  }
  .post-details .recent-description p {
    font-size: 3.5rem;
    /* line-height: 3rem; */
  }

  .blogs .left a .card .cardImgContainer {
    height:50rem!important;
  }


  .blogs .right .recent-posts-container .post-details .description .title {
    width: 100%;
  }
  .blogs .right .recent-posts-container h2{
    font-size: 3rem;
  }
  .blogs .left a .card .bottom-content {
    width: 100%;
   padding-bottom: 13rem;
   line-height: 4.5rem;
   
  }
 

  .blogs .right .category-container p {
    font-size: 3rem;
    margin-left: 7rem;
    margin-bottom: 2.5rem;
   
  }
  .blogs .right .category-container p::before {
    top: 0.4rem;
    width: 2rem;
    height: 2rem;
    left: -7rem;
   
    
  }

  .blogs .right .category-container .category-list-container {
    padding: 3rem 0rem;
  }

  .blogs {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .blogs .left {
    width: 100%;
  }
  .blogs .left .cards-container {
    width: 100%;
    justify-content: flex-start;
  }

  .blogs .left a {
    width: calc(100% / 2.05);
  }
  .blogs .right .tags-container .tags p {
    display: block;
    padding: 1rem 1.5rem;
    border: 1px solid #eeeeee;
    width: fit-content;
    font-weight: 600;

    font-size: 2.5rem;
  }
  .blogs .right .search .input-button-container input{
    /* padding: 15px; */
    font-size: 15px;
  }
  .blogs .right .search .input-button-container input::placeholder{
    font-size: 15px;
  }
  .blogs .right .search .input-button-container .search-icon-container{
  width: 6rem;
  }
  .blogs .right {
    width: 100%;
  }
  .blogs .right .search .input-button-container .search-icon-container .search-icon{
    color: white;
    font-size: 3rem;
    cursor: pointer;
  }

  .blogs .left a .card .bottom-content h2 {
    font-size: 3.5rem;
  }

  .blogs .left a .card .bottom-content p,
  .blogs .left a .card .bottom-content::after {
    font-size: 2.5rem;
  }
  .blogs .right .recent-posts-container .post-details .description .date{
    font-size: 3rem;
    margin-bottom: 1.6rem;
  }
  .blogs .right .recent-posts-container .post-details .details-img {
    width: 17rem;
    height: 12rem;
  }
  .blogs .right .category-container .title{
    padding-bottom: 4rem;
    font-size: 3rem;
  }
  .blogs .right .tags-container .title{
    font-size: 3rem;
  }
  
}
