* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}

/* heading start */
.blogHeader {
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.blogTitle {
  text-align: center;
}

.blogTitle {
  text-align: center;
}
.blogTitle h2 {
  display: inline-block;
  font-size: 2.5rem;
}
.blogLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 0.5rem;
}

.blogLinks a {
  font-size: 1.3rem;
  color: #0000ff;
  font-weight: 500;
}
.blogLinks .blogLink {
  color: #737b9a;
}

.blogLinks .angleIcon {
  font-size: 1.5rem;
  margin-top: 0.1rem;
  color: #737b9a;
}
.blogTitle span {
  border-bottom: 2px solid #f78da7;
  font-size: 2.5rem;
  padding-bottom: 1.2rem;
}
/* heading end */

/* blogs */
.blogs {
  display: flex;
  gap: 3rem;
}
.blogs .left {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  /* background-color: green; */
  width: 70%;
}
.blogs .left .card {
  /* position: relative; */
  /* position: absolute; */
  width: 100%;
  border: 1px solid #ddd;
  overflow: hidden;
  box-shadow: 0 0 30px (rgb(188, 188, 202));
}
.blogs .left .card img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s;
}
.blogs .left .card:hover img {
  transform: scale(1.2) rotate(5deg);
}
.blogs .left .card .bottom-content h2 {
  font-size: 1.8rem;
}

.blogs .left .card .bottom-content h2,
.blogs .left .card .bottom-content p {
  transition: transform 0.5s;
  position: relative;
  top: 1rem;
  margin-bottom: 0.625rem;
}
.blogs .left .card:hover .bottom-content h2 {
  color: rgb(27, 27, 141);
}
.blogs .left .card:hover .bottom-content::after {
  opacity: 1;
  display: block;
  transform: translateY(-10px);
}

.blogs .left .card:hover .bottom-content h2,
.blogs .left .card:hover .bottom-content p {
  transform: translateY(-2rem);
}
.blogs .left .card .bottom-content {
  position: relative;
  padding: 2.5rem;
  /* transition: transform 0.4s; */
  position: relative;
  z-index: 1;
  background-color: #fff;
  color: #010211;
}
.blogs .left .card .bottom-content::after {
  content: "Reade more";
  align-items: center;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  transition: all 0.4s, opacity 0.5s;
  color: #0000ff;
  font-size: 1.5rem;
}

/* right start */
.blogs .right {
  display: flex;
  flex-direction: column;

  width: 30%;
  gap: 2rem;
}
.blogs .right .search {
  padding: 2rem;
  width: 100%;
  /* height: 100px; */
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.blogs .right .search .input-button-container {
  display: flex;
}
.blogs .right .search .input-button-container .search-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  width: 70px;
}
.blogs
  .right
  .search
  .input-button-container
  .search-icon-container
  .search-icon {
  color: white;
  font-size: 25px;
}

.blogs .right .recent-posts-container {
  width: 100%;
  display: flex;
  flex-direction: column;

  padding: 2rem;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.blogs .right .recent-posts-container h2 {
  padding: 1.5rem 0;
  width: 100%;
  border-bottom: 1px solid #eeeeee;
  font-size: 2rem;
  /* background-color: yellow; */
}

.blogs .right .recent-posts-container .post-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
  border-bottom: 1px solid #eeeeee;
  padding: 1.5rem 0;
  cursor: pointer;
}
.blogs .right .recent-posts-container .post-details .details-img {
  background-color: blue;
  width: 14.5rem;
  height: 7.25rem;
}
.blogs .right .recent-posts-container .post-details .details-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blogs .right .recent-posts-container .post-details .description .date {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.blogs .right .recent-posts-container .post-details .description .title {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: -0.01rem;
}
.blogs .right .category-container {
  width: 100%;
  background-color: white;
  padding: 1.5rem;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.blogs .right .category-container .category-list-container {
  padding: 1rem;
}
.blogs .right .category-container p {
  position: relative;
  font-size: 1.3rem;
  font-weight: 600;
  display: block;
  margin-left: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.blogs .right .category-container p::before {
  position: absolute;

  content: "";
  display: inline-block;
  width: 0.7rem;
  height: 0.7rem;
  background-color: blue;
  top: 0.6rem;
  left: -2.5rem;
}
.blogs .right .category-container .title {
  font-size: 2rem;
  border-bottom: 1px solid #eeeeee;
  padding: 1rem 0;
}


.blogs .right .tags-container{

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  background-color: white;
  padding: 1.5rem;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.blogs .right .tags-container .title{
  width: 100%;
  font-size: 2rem;
  border-bottom: 1px solid #eeeeee;
  padding: 1rem 0;
}

.blogs .right .tags-container .link-container{
 
width: 100%;
  display: flex;

gap: 0.5rem;
  

}
.blogs .right .tags-container .link-container a{
  padding: 1rem 1rem;
  border: 1px solid #eeeeee;
  width: fit-content;
  font-weight: 600;
  transition: 0.5s;
}
.blogs .right .tags-container .link-container a:hover{
  background-color: #0000ff;
  color: white;
}

/* right end */
