.mySwiper {
  width: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* padding: 20px 80px 20px 80px; */
}

.swiper-slide {
  background-color: #f1f3fd !important;
}

.Slider {
  background-color: #ffff;
  -webkit-box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.Slider__feedbackContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 2.5rem 0px 2.5rem 1.25rem;
  gap: 1rem;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.Slider__feedback {
  height: 80%;
  overflow: hidden;
  padding-right: 4.375rem;
  display: block;
  color: var(--TextColor);
  font-style: italic;
  line-height: 1.6;
  font-size: 1rem;
  line-height: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.Slider__avatarAndInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.Slider__avatarAndInfo .avatar-container {
  position: relative;
  height: 4rem;
  width: 4rem;
}

.Slider__avatarAndInfo .avatar-container img {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.Slider .nameAndPosition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.Slider .nameAndPosition .position {
  font-size: 1rem;
  color: var(--blueText);
}

.Slider .nameAndPosition .name {
  font-size: 1.5rem;
  font-weight: 600;
}

.mySwiper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
  /* padding: 20px 80px 20px 80px; */
}

.Slider {
  width: 33.3% !important;
  height: 26rem;
}

.Slider__feedback {
  font-size: 1.4rem;
  line-height: 2rem;
}

.Slider__avatarAndInfo .avatar-container {
  height: 4.5rem;
  width: 4.5rem;
}

.Slider .nameAndPosition .position {
  font-size: 1.4rem;
  color: var(--blueText);
}

.Slider .nameAndPosition .name {
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .Slider {
    width: 100% !important;
    height: 35rem;
  }
  .Slider__feedbackContainer {
    gap: 3.2rem;
  }
  .Slider__feedback {
    font-size: 1.8rem;
    padding-left: 2rem;
    line-height: 2.6rem;
  }
  .Slider__avatarAndInfo {
    gap: 2rem;
    padding-left: 2rem;
  }
  .Slider__avatarAndInfo .avatar-container {
    height: 8rem;
    width: 8rem;
  }
  .Slider .nameAndPosition .position {
    font-size: 1.8rem;
    color: var(--blueText);
  }
  .Slider .nameAndPosition .name {
    font-size: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .Slider {
    width: 50% !important;
    height: 35rem;
  }
  .Slider__feedbackContainer {
    gap: 3.2rem;
  }
  .Slider__feedback {
    font-size: 1.8rem;
    padding-left: 2rem;
    line-height: 2.6rem;
  }
  .Slider__avatarAndInfo {
    gap: 2rem;
    padding-left: 2rem;
  }
  .Slider__avatarAndInfo .avatar-container {
    height: 8rem;
    width: 8rem;
  }
  .Slider .nameAndPosition .position {
    font-size: 1.8rem;
    color: var(--blueText);
  }
  .Slider .nameAndPosition .name {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=Carusel.css.map */