.Slider {
  width: 450px !important;
  height: 320px;
  padding: 50px 60px 10px 0px;
  background-color: #ffff;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  &__feedbackContainer {
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    gap: 2rem;
  }
  &__feedback {
    height: 100px;
    display: block;

    font-style: italic;
    line-height: 1.6;
    font-size: 14px;

    margin-left: 20px;
  }

  &__div {
    display: flex;

    align-items: center;
    gap: 20px;

    span {
      color: #0000ff;
      padding: 5px;
   
    }

    h3 {
      font-size: 14px;

    }

    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin-left: 20px;
      margin-top: 20px;
    }
  }
}

.mySwiper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  /* padding: 20px 80px 20px 80px; */
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px !important;
  }
  .Slider {
    width: 430px !important;
    height: 300px;
  

    p {
      font-style: italic;
      line-height: 1.6;
      font-size: 14px;
 
      margin-left: 20px;
    }

    &__div {
      display: flex;
      /* justify-content: center; */
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;

      span {
        color: #0000ff;
        padding: 5px;
   
      }

      h3 {
        padding: 5px;

      }

      img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-left: 20px;
        margin-top: 20px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 720px !important;
  }
  .Slider {
    background-color: green;
    width: 400px !important;
    height: 270px !important;

    p {
      font-style: italic;
      line-height: 1.6;
      font-size: 14px;

      margin-left: 20px;
    }
    &__feedback{
      font-size: 12px;
    }

    &__div {
      display: flex;
      /* justify-content: center; */
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;

      span {
        color: #0000ff;
        padding: 5px;
      
      }

      h3 {
        padding: 5px;
  
      }

      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-left: 20px;
        margin-top: 20px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .Slider {
&__div{
  span{
    font-size: 15px;
  }
}

    p {
      font-style: italic;
      line-height: 1.6;
      font-size: 14px;

      margin-left: 20px;
    }
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 90%;
  }
  .Slider {
    width: 55rem !important;
    height: 45rem !important;

    p {
      font-style: italic;
      line-height: 1.6;
      font-size: 0.875rem;
 
      margin-left: 20px;
    }
    &__feedback{
      height: 12rem;
      width: 100%;
      font-size: 2rem;
    }
   &__div h3{
font-size: 12px;
    }
    &__div {
     position: relative;
      height: 30px;
      span{
        font-size:10px;
      }
      img{
        
        width: 7rem;
        height: 7rem;
      }
    }
  }
}
