

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.Slider1__feedbackContainer{
  display: flex;
  background-color: rgb(243, 245, 255);
  flex-direction: column;
  text-align: left;
  gap: 15px;
  border-radius: 5px;
  padding: 35px;
  height: 300px;
}
.Slider1__feedback{
  height: 100%;
  overflow: hidden;
  font-size: 1.2rem;
  font-weight: 600;
  font-style: italic;
 color: black;
}
.Slider1__avatarAndInfo{
  gap: 20px ;
  /* height: 20%; */
  display: flex;
  align-items: center;
}
.name{
  font-size: 16px;
  color: black;
  font-weight: 600;
}
.position{
 color: blue;
 font-size: 14px;
}
.avatar-container{
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.avatar-container img{
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.nameAndPosition{
  display: flex;
  flex-direction: column;
}


@media(max-width:1200px){

  .Slider1__feedbackContainer{
 gap: 20px;
 padding: 30px;

  }
}
  @media(max-width:992px){

    .Slider1__feedbackContainer{
      gap: 15px;
      padding: 20px;
      height: 200px;
     
       }
       .Slider1__avatarAndInfo{
        gap: 15px;
       }
       .Slider1__feedback {
        height: 90%;
        overflow: hidden;
        font-size: 1rem;
        font-weight: 600;
        font-style: italic;
        color: black;
    }
    .avatar-container{
      width: 40px;
      height: 40px;
    }
    .name{
      font-size:12px ;
    }
    .position{
      font-size: 12px;
    }
  }
  @media(max-width:768px){

    .Slider1__feedback {
    
      font-size: 12px;
   
  }
  }
   @media(max-width:576px){
.Slider1__feedback{
  padding-right: 0;
  font-size: 2.2rem;
 
}
.Slider1__feedbackContainer{

  padding:40px;

}

.Slider1__feedbackContainer{
  height: 200px;
  padding: 20px;
  gap: 10px;
}
.position{
  font-size: 2rem;
}
.avatar-container{
  width: 40px;
  height: 40px;
}
.name{
  font-size: 2.2rem;
}
.position{
  font-size: 10px;
}

   }