

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.Slider1__feedbackContainer{
  display: flex;
  background-color: rgb(234, 250, 250);
  flex-direction: column;
  text-align: left;
  gap: 15px;
  border-radius: 5px;
  padding: 2rem;
  height: 300px;
}
.Slider1__feedback{
  height: 77%;
  overflow: hidden;
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
  color: var(--TextColor);
}
.Slider1__avatarAndInfo{
  gap: 2rem ;
  /* height: 20%; */
  display: flex;
  align-items: center;
}
.name{
  font-size: 16px;
  color: black;
  font-weight: 600;
}
.position{
 color: blue;
}
.avatar-container{
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.avatar-container img{
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.nameAndPosition{
  display: flex;
  flex-direction: column;
}


@media(max-width:1200px){


}
  @media(max-width:992px){


  }
  @media(max-width:768px){


  }
   @media(max-width:576px){
.Slider1__feedback{
  
  font-size: 14px;
 
}

   }