

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.Slider1__feedbackContainer{
  display: flex;
  background-color: rgb(233, 237, 255);
  flex-direction: column;
  text-align: left;
  gap: 20px;
  border-radius: 5px;
  padding: 40px;
  height: 300px;
}
.Slider1__feedback{
  height: 90%;
  overflow: hidden;
  font-size: 1.5rem;
  font-weight: 600;
  font-style: italic;
 color: black;
}
.Slider1__avatarAndInfo{
  gap: 20px ;
  /* height: 20%; */
  display: flex;
  align-items: center;
}
.name{
  font-size: 14px;
  color: black;
  font-weight: 600;
}
.position{
 color: blue;
 font-size: 12px;
}
.avatar-container{
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.avatar-container img{
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.nameAndPosition{
  display: flex;
  flex-direction: column;
}


@media(max-width:1200px){


}
  @media(max-width:992px){


  }
  @media(max-width:768px){


  }
   @media(max-width:576px){
.Slider1__feedback{
  padding-right: 50px;
  font-size: 12px;
 
}
.Slider1__feedbackContainer{

  padding:40px;

}
.Slider1__feedbackContainer{
  height: 200px;
  padding: 20px;
}
.position{
  font-size: 2rem;
}
.avatar-container{
  width: 30px;
  height: 30px;
}
.name{
  font-size: 14px;
}
.position{
  font-size: 10px;
}

   }