* {
  box-sizing: border-box;
}
.partners-header {
  font-size: 32px;
  text-align: center;
  padding: 5rem;
}
.itemmm {
  position: relative;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  min-height: 13rem;
  min-width: 13rem;

}
.itemmm .companyName {
  position: absolute;
  bottom: 0;
  font-size: 1rem;
  background-color: rgb(206, 206, 221);

  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-weight: 400;
  text-align: center;
  color: rgb(6, 6, 6);
}
.itemmm img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  pointer-events: none;

  border: 2px solid white;
}
.inner-carousel {
  /* background-color: blue; */
  display: flex;
  gap: 20px;
}
.carousel {
  cursor: grab;
  overflow: hidden;
  padding: 0 0 3rem 0;

  /* background-color: orange; */
}

@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 992px) {
.itemmm{
  min-height: 12rem;
  min-width: 12rem;
}
}
@media screen and (max-width: 768px) {
  .itemmm{
    min-width: 16rem;
    min-height: 16rem;
  }
}

@media screen and (max-width: 576px) {
  .itemmm{
    min-height: 20rem;
    min-width: 20rem;
  }
  .partners-header{
    font-size: 5rem;
  }

}
