*{
  margin: 0;
  padding: 0;
  text-decoration: none;

}
.container{
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}

.contactCardContainer{
gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
  
}
.contactCardContainer .card{
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
cursor: pointer;
  align-items: center;
  gap: 2.5rem;
width:380px;
padding: 2rem 0;
border-radius: 8px;
/* height: 400px; */
/* background-color: #f6f6f6; */
box-shadow: 0 0 20px 0 rgba(161, 155, 155, 0.2);
}
.contactCardContainer .card:hover{
  transform: translateY(-10px);
}
.contactCardContainer .card .icon-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  background-color: #f6f6f6;
}
.contactCardContainer .card .icon-container .contactIcon{
  position: absolute;
  color: blue;
  width: 35%;
  height: 35%;
}
.contactCardContainer .card .title{
  font-size: 1.5rem;
  font-weight: 900;

}

.contactCardContainer .card .descriptionContainer .contact-type{
  font-size: 1rem;
  color: rgb(143, 143, 143);
  padding-bottom: 1rem;
  text-align: center;

}