* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}




.contactCardContainer {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  padding: 3rem 0;
}
.contactCardContainer .card {
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  width: calc(33% - 20px);
  padding: 2rem 0;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(161, 155, 155, 0.2);
}
.contactCardContainer .card:hover {
  transform: translateY(-10px);
}
.contactCardContainer .card .icon-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  background-color: #f6f6f6;
}
.contactCardContainer .card .icon-container .contactIcon {
  position: absolute;
  color: var(--mainBlue);
  width: 35%;
  height: 35%;
}
.contactCardContainer .card .title {
  font-size: 1.5rem;
  font-weight: 900;
}

.contactCardContainer .card .descriptionContainer .contact-type {
  font-size: 1.5rem;
  color: rgb(143, 143, 143);
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 500;
}

.faqSection-2 .faqTitleBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 5rem 0 0 0;
}
.faqSection-2 .faqTitleBottom .about-description {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--blueText);
  font-weight: 500;
}
.faqSection-2 .faqTitleBottom h2 {
  font-size: 2rem;
}

.faqSection-2 .faqTitleBottom .faqDescription {
  color: var(--TextColor);
  text-align: center;
  font-size: 1.3rem;
  padding: 0.625rem;
  line-height: 2rem;
  font-weight: 500;
}

.faqSection-2 .section-2-content {
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
}
.faqSection-2 .section-2-content .left {
  width: 70%;
  position: relative;
}
.faqSection-2 .section-2-content .left img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: contain;
}
.faqSection-2 .section-2-content .right {
  width: 100%;
}
.faqSection-2 .section-2-content .right form {
  /* background-color: rgb(72, 6, 6); */
  display: flex;
  flex-direction: column;

  gap: 1rem;
}
.faqSection-2 .section-2-content .right form .inputs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.faqSection-2 .section-2-content .right form textarea {
  font-size: 1rem;
  height: 15rem;
  width: 100%;
  resize: none;
  outline: none;
  padding: 1.5rem;
  font-size: 1.5rem;
  padding: 0.9rem;
  border-radius: 0.5rem;
  width: 100%;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);

  /* box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px; */
}
.faqSection-2 .section-2-content .right form textarea::placeholder {
  font-size: 1.2rem;
  opacity: 0.8;

}

.faqSection-2 .section-2-content .right form .inputs input {
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 0.2rem;
  width: 100%;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);

  /* box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px; */
}
.faqSection-2 .section-2-content .right form .inputs input::placeholder {
  font-size: 1.2rem;
  opacity: 0.8;
}

/* BUTTON ANIMATION START */

button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: fit-content;
  height: 3rem;
  cursor: pointer;
  padding: 0.9375rem 1.875rem;
  background-color: var(--mainBlue);

  overflow: hidden;
  color: #fff;
  border-radius: 0.3rem;
  border: none;
}
button span {
  position: relative;
  z-index: 1;
  font-weight: 900;
  font-size: 1rem;
}

button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0px;
  height: 0px;
  /* background: orange; */
  /* border-radius: 20%; */
  transition: width 0.5s, height 0.5s;
}
button:hover::before {
  width: 18.75rem;
  height: 18.75rem;
}

/* BUTTON ANIMATION START */
@media screen and (max-width: 1200px) {
  /* max-width: 1140px !important; */

/* max-width: 960px !important; */

/* max-width: 540px !important; */
/* max-width: 90% !important; */
}
  @media screen and (max-width: 992px) {

  }
 

@media screen and (max-width: 768px) {
 
  .contactCardContainer {
    justify-content: center;
  }
  .contactCardContainer .card {
    display: flex;
    justify-content: center;
    width: 60%;
    margin-inline: auto;
  }
  .faqSection-2 .faqTitleBottom .faqDescription {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
  .faqSection-2 .faqTitleBottom .about-description {
    font-size: 2rem;
  }
  .faqSection-2 .faqTitleBottom h2 {
    font-size: 2.5rem;
  }

  .faqSection-2 .section-2-content {
    /* flex-direction: column; */
    width: 100%;
    align-items: center;
    gap: 3rem;
  }
  .faqSection-2 .section-2-content .right form {
    width: 100%;
  }
  .faqSection-2 .section-2-content .right form .inputs {
    flex-direction: column;
    gap: 1rem;
  }
  .faqSection-2 .section-2-content .right form .inputs input,
  .faqSection-2 .section-2-content .right form textarea {
    padding: 1rem;
  }
  .faqSection-2 .section-2-content .right form .inputs input::placeholder,
  .faqSection-2 .section-2-content .right form textarea::placeholder {
    font-size: 1.8rem;
  }

  .faqSection-2 .section-2-content .left {
    width: 100%;
    height: 300px;
    align-self: self-end;
  }
 
  .contactCardContainer .card .icon-container .contactIcon {
    width: 40%;
    height: 40%;
  }
  .contactCardContainer {
    gap: 2.5rem;
  }
  .contactCardContainer .card .title {
    font-size: 2rem;
  }
  .contactCardContainer .card .icon-container {
    width: 6rem;
    height: 6rem;
  }
}
@media screen and (max-width: 576px) {

  .contactCardContainer {
    justify-content: center;
    /* padding: 0 11rem; */
    margin: 3rem 0;
  }

  .faqSection-2 .section-2-content {
    align-items: center;
  }
  .faqSection-2 .section-2-content .left {
    width: 100%;
    height: 300px;
  }

  .faqSection-2 .section-2-content .right form .inputs {
    flex-direction: column;
  }
  .faqSection-2 .section-2-content {
    flex-direction: column;
    gap: 3rem;
  }
  .contactCardContainer .card {
    padding: 4rem 0;
  }

  .contactCardContainer .card .icon-container {
    width: 8rem;
    height: 8rem;
  }
  .contactCardContainer .card .title {
    font-size: 3rem;
  }
  .faqSection-2 .faqTitleBottom .about-description {
    font-size: 3rem;
  }
  .faqSection-2 .faqTitleBottom h2 {
    font-size: 3.5rem;
  }
  .faqSection-2 .faqTitleBottom .faqDescription {
    font-size: 2.5rem;
    line-height: 4rem;
  }
  .faqSection-2 .section-2-content .right form .inputs input {
    padding: 2.5rem;
  }
  .faqSection-2 .section-2-content .right form textarea {
    padding: 4rem 2.5rem;
  }

  .faqSection-2 .section-2-content .right form .inputs input::placeholder,
  .faqSection-2 .section-2-content .right form textarea::placeholder {
    font-size: 2.5rem;
  }
  button {
    font-size: 0.9rem;
    width: 15rem;
    height: 6rem;
    padding: 0.9375rem 1.875rem;
  }
  button span {
    font-size: 1.5rem;
  }
  .contactCardContainer .card:hover {
    transform: translateY(-6px);
  }
}
@media screen and (max-width: 430px) {
 
  .contactCardContainer {
    justify-content: center;
    /* padding: 0 11rem; */
    margin: 3rem 0;
  }

  .faqSection-2 .section-2-content {
    align-items: center;
  }
  .faqSection-2 .section-2-content .left {
    /* width: 100%; */
    height: 200px;
  }

  .faqSection-2 .section-2-content .right form .inputs {
    flex-direction: column;
  }
  .faqSection-2 .section-2-content {
    flex-direction: column;
    gap: 3rem;
  }
  .contactCardContainer .card {
    padding: 4rem 0;
  }

  .contactCardContainer .card .icon-container {
    width: 8rem;
    height: 8rem;
  }
  .contactCardContainer .card .title {
    font-size: 3rem;
  }
  .faqSection-2 .faqTitleBottom .about-description {
    font-size: 3rem;
  }
  .faqSection-2 .faqTitleBottom h2 {
    font-size: 3.5rem;
  }
  .faqSection-2 .faqTitleBottom .faqDescription {
    font-size: 2.5rem;
    line-height: 4rem;
  }
  .faqSection-2 .section-2-content .right form .inputs input {
    padding: 2.5rem;
  }
  .faqSection-2 .section-2-content .right form textarea {
    padding: 4rem 2.5rem;
  }

  .faqSection-2 .section-2-content .right form .inputs input::placeholder,
  .faqSection-2 .section-2-content .right form textarea::placeholder {
    font-size: 2.5rem;
  }
  button {
    font-size: 0.9rem;
    width: 15rem;
    height: 6rem;
    padding: 0.9375rem 1.875rem;
  }
  button span {
    font-size: 1.5rem;
  }
  .contactCardContainer .card:hover {
    transform: translateY(-6px);
  }
}

