.home__contact{
    background-color: #F9F9FC;
    padding: 4px 0px 90px 0px;
    width: 100%;
    &__content{
       padding: 120px 10px 120px 10px;
        width: 40%;
        margin: auto;
        text-align: center;
        ul{
            padding: 20px 0px 20px 0px;
            list-style: none;
            display: flex; 
            justify-content: center;
            align-items: center;
            .iconss{
                font-size: 23px;
            }
           li{
            .home{
                color: #737b73;
            }
            .contact{
                color: #0000FF;
            }
           }
            a{
                text-decoration: none;
                font-size: 18px;
            }
        }
        .lines{
            width: 5%;
            height: 3px;
            margin: 0 auto;
            background-color: #0000FF;
        }
        h2{
           padding: 15px 0px 10px 0px;
           font-size: 40px;
        }
        p{
           color: #737b73;
           font-size: 18px;
           padding: 10px;
           
        }
    }
    &__cards{
       padding: 30px 90px;
       width: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-wrap: wrap;
       gap: 20px;
       &__card:hover{
            transform: translateY(-10px); 
            transition: 0.3s ease;
            box-shadow: 13px 16px 26px 5px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
       }
        &__card{
           width: 343px;
           height: 262px;
           background-color: white;
           border-radius: 7px;
           padding: 0px 20px 0px 20px;
           &__icon{
               width: 70px;
               height: 70px;
               background-color: #F9F9FC;
               border-radius: 50%;
               margin: auto;
               margin-top: 20px;
               .icon1{
                   color:#0000FF ;
                   font-size: 30px;
                   margin-left: 20px;
                   margin-top: 20px;
               }
              
           }
           h3{
               text-align: center;
               padding: 10px;
           }
           p{
               color: #737b73;
               font-size: 17px;
                line-height: 1.6;
                text-align: center;
           }
        }
    }
}
@media screen and (max-width:768px){
    .home__contact{
        &__content{
            width: 100%;
        }
    }
}
.container{
    width: 70%;
    margin: 0 auto;
    // height: 100vh;
}
.contact{
    width: 100%;
    &__content{
        width: 60%;
        margin: 0 auto;
        text-align: center;
        padding: 10px;
        span{
            color: #0000FF;
        }
        h2{
            font-size: 40px;
            padding: 10px 0px 18px 0px;
        }
        p{
            color: #737b73;
            font-size: 17px;
            line-height: 1.6;
        }
    }
    &__bottom{
         display: flex;
         justify-content: center;
         gap: 10px;
         align-items: center;
         &__left{
            width: 400px;
            height: 400px;
            img{
                width:400px ;
                height: 400px;
            }
         }
         &__right{
            width: 600px;
            height: 500px;
            &__top{
                display: flex;
                flex-wrap: wrap;
              
            }
         }
    }
}
.contact__bottom__right {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px; 
    margin: 0 auto;
    padding: 10px 0px 10px 0px;
  }
  
  .content__bottom__right__top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 19px;
    border: 1px solid lightgray;
  }
  .area{
    margin-top: 20px;
  }
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 19px 45px;
    cursor: pointer;
    // margin-top: 30px;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  @media screen and (max-width:768px){
    .contact{
        &__content{
            width: 100%;
            padding: 20px 0px 40px 0px;
        }
        h2{
            font-size: 30px;
        }
        &__bottom{
          flex-wrap: wrap;
          padding-bottom: 290px;
            &__left{
                width: 300px;
                height: 300px;
                img{
                    width:300px ;
                    height: 300px;
                }
             }
             button{
                margin-top: 9px;
                padding: 10px 20px;
                border-radius: 2px;
             }
        }
        input,
       textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid lightgray;
  }
    }
}
  