@font-face {
  font-family: "Montserrat";
  src: url("../../../Fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}
.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  /* background-color: red; */
}

* {
  font-family: "Montserrat";
  box-sizing: border-box;
}

/* price HeaderLink start */

.priceHeader {
  background-color: #fafafc;
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.priceTitle {
  text-align: center;
}

.priceTitle h2 {
  display: inline-block;
  font-size: 2.5rem;
}
.priceLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 0.5rem;
}

.priceLinks a {
  font-size: 1.3rem;
  color: #0000ff;
  font-weight: 500;
}
.priceLinks .priceLink {
  color: #737b9a;
}

.priceLinks .angleIcon {
  font-size: 1.5rem;
  margin-top: 0.1rem;
  color: #737b9a;
}
.priceTitle span {
  border-bottom: 2px solid #f78da7;
  font-size: 2.5rem;
  padding-bottom: 1.2rem;
}

/* price HeaderLink */

/* header start */
.header {
  width: 40%;
  margin: auto;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.header h2 {
  padding: 0.9375rem 0rem 0rem 0rem;
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
}
.header p {
  color: #737b73;
  font-size: 1.125rem;
  padding: 0.625rem;
  font-family: "Montserrat", sans-serif;
}
/* header end */

/* cards container start */

.cardsContainer {
  padding: 4rem 0 ;
  display: flex;

  &__cardContainer {
    width: 100%;


 
  }
  &__card {
    /* background-color: gray; */
  
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 27%;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    border-radius: 5px;
    overflow: hidden;
  }
  &__cardHeader {
    width: 100%;
    padding: 2rem 0;
    text-align: center;
    font-size: 1.5rem;
    background-color: blue;
    color: white;
   
  }
  .secondHeader{
    background-color: #f78da7;
   }
   .thirdHeader{
    background-color:orange;
   }

  &__price {
    position: relative;
    padding: 2rem 0;
    font-size: 2.5rem;
    font-weight: 600;
    &::before {
      content: "$";
      left: -0.9em;
      bottom: 2.5em;
      position: absolute;
      font-size: 1rem;
      color: #737b9a;
    }
    &::after {
      content: "/mo";
      font-size: 1rem;
      color: #737b9a;
      position: absolute;
      right: -2.3rem;
      bottom: 2.5rem;
    }
  }
  &__devider {
    width: 100%;
    height: 1px;
    background-color: #dddfe8;
  }
  &__cardContentContainer{
 
 
    gap: 1rem;
    width: 100%;
    padding: 2rem ;
  }
  &__itemsContainer{
   

display: flex;
    justify-content: space-between;
    align-items: center;
   margin-bottom: 1rem;
  }
  &__items {
font-weight: 600;
    width: 100%;
    color: #737b9a;
    font-size: 1.2rem;
  }
  &__tick-icon{
    font-size: 2rem;
    color: limegreen;
  }
}

/* cards container end */
