@keyframes modal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(20px);

  z-index: 999999999999;
 
}

/* disable body scroll  when modal is open */
.modal-open{
  overflow: hidden;
}

.modal-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  color: white;
  z-index: 1;
  scroll-behavior: smooth;
  z-index: 99999999999999;
}
.price-modal {
  position: relative;
  width: 50%;
  height: 59%;
}
.modal-all-prices {
  color: orange;
  justify-content: flex-end;
  padding: 1rem 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: fit-content;
  cursor: pointer;
  position: relative;
  top: -50px;
  padding-inline: 10px;
  margin-bottom: 1px;
  font-size: 15px;
  font-weight: 900;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: 0;
  transition: background-color 0.3s;
  transition: all 0.2s;
}
.price-modal .price-modal-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);



  border-radius: 10px;
  padding: 30px;
  list-style-type: none;
  overflow-y: scroll;
}
.price-modal .price-modal-1::-webkit-scrollbar {
  width: 10px;
}

.price-modal .price-modal-1::-webkit-scrollbar-track {
  background-color: #8b8b8b;
  border-radius: 1rem;
}

.price-modal .price-modal-1::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #212121);
  border-radius: 16px;
}
.price-modal .price-modal-1::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #212121);
}

.price-modal .price-modal-1::-webkit-scrollbar-thumb:hover {
  background-color: #8b8b8b;
}

.price-modal .price-modal-1-li {
  left: 100%;
  animation: modal linear both;
  animation-timeline: view();
  animation-range: entry 50% cover 20%;
  cursor: pointer;
  position: relative;
  padding: 1rem 0;
  padding-inline: 10px;
  margin-bottom: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 15px;
  font-weight: 900;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: 0;
  transition: background-color 0.3s;
  transition: all 0.2s;
  color: orange;
}


.price-modal .price-modal-1-li:hover {
  color: #fff;
}
/* header start */
.header {
  padding: 5rem 0 0 0;
  /* width: 55%; */
  margin: auto;
  text-align: center;
}
.header h2 {
  padding: 0.9375rem 0rem 0rem 0rem;
  font-size: 32px;
  margin-bottom: 1rem;
}
.header p {
  color: var(--TextColor);
  line-height: 2rem;
  font-size: 1.4rem;
  font-weight: 500;
}
/* header end */

/* cards container start */

.cardsContainer {
  justify-content: flex-start;
  padding: 1rem 0 4rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  &__pricePeriodContainer {
    position: relative;

    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: fit-content;
    padding: 1.2rem 0;
    gap: 0.5rem;
  }
  &__period,
  &__exchangeRate {
    font-size: 0.9375rem;
    color: #737b9a;
    font-weight: 600;
  }

  &__cardContainer {
    width: 100%;
  }
  &__card {
    transition: 0.5s all;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    width: calc(25% - 15px);

    background-color: #fff;

    border: 1px solid #ddd;
    border-radius: 0.5rem;
    overflow: hidden;
    /* padding-bottom: 1.5rem; */
  }
  &__card:hover {
    transform: translateY(-0.625rem);
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.2);
  }
  &__cardHeader {
    width: 100%;
    padding: 1.5rem 0;
    text-align: center;
    font-size: 1.8rem;
    background-color: blue;
    color: white;
  }
  .secondHeader {
    background-color: #f78da7;
  }
  .thirdHeader {
    background-color: orange;
  }

  &__price {
    position: relative;
    top: 0.3rem;

    font-size: 2rem;
    font-weight: 600;
  }
  &__devider {
    width: 100%;
    height: 1px;
    background-color: #dddfe8;
  }
  &__cardContentContainer {
    width: 100%;
    height: 235px;
    padding: 1rem 0.5rem;
    overflow: auto;
  }

  &__cardContentContainer::-webkit-scrollbar {
    width: 0.5rem;
  }

  &__cardContentContainer::-webkit-scrollbar-track {
    background-color: #fbfbfb;
  }

  &__cardContentContainer::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #a6c5cd);
    border-radius: 5px;
  }
  &__cardContentContainer::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, #839fa6);
  }

  &__cardContentContainer::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff;
  }

  &__itemsContainer {
    display: flex;
    padding: 0 15px;

    align-items: center;
    margin-bottom: 0.3rem;
    border-radius: 0.5rem;
    gap: 1.5rem;
    background-color: rgba(231, 231, 231, 0.1);
  }
  &__items {
    /* line-height: 1.6rem; */
    overflow: hidden;
    align-items: center;
    /* text-overflow: ellipsis; */
    white-space: nowrap;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    /* max-height: 3.02rem; */

    width: 100%;
    color: var(--TextColor);
    letter-spacing: -0.05rem;
    white-space: nowrap;

    font-size: 16px;
    padding: 0.6rem 0rem 0 0;

    font-weight: 500;
    overflow-x: scroll;
  }
  &__items::-webkit-scrollbar {
    width: 0.5rem;
    height: 5px;
  }

  &__items::-webkit-scrollbar-track {
    background-color: #ffffff;
  }

  &__items::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #ddebee);
    border-radius: 16px;
  }
  &__items::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, #839fa6);
  }

  .cardsContainer__check-icon-container {
    display: flex;
    align-items: center;
  }
  &__tick-icon {
    font-size: 14px;
    color: limegreen;
  }
  &__notAveilble-icon {
    position: relative;
    /* right: 0.2rem; */
    font-size: 14px;

    color: rgb(189, 71, 71);
  }
  &__link {
    position: relative;
    display: inline-block;

    color: blue;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 2rem 0 0.5rem 0;
    cursor: pointer;
    &--orange-underline {
      position: relative;
      display: inline-block;
      color: orange;
      font-size: 1.2rem;
      font-weight: 600;
      padding: 2rem 0 0.5rem 0;
      cursor: pointer;
    }
    &--pink-underline {
      position: relative;
      display: inline-block;
      color: #ff6289;
      font-size: 1.2rem;
      font-weight: 600;
      padding: 2rem 0 0.5rem 0;
      cursor: pointer;
    }

    &:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 1px;
      background-color: blue;
      transition: width 0.6s;
    }
  }
  &__link:hover::before {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .cardsContainer {
    &__cardContentContainer {
      height: 220px;
    }
    .cardsContainer__items {
      font-size: 14px;
    }

    .cardsContainer__itemsContainer {
      margin-bottom: 0.3rem;
    }
    .cardsContainer__pricePeriodContainer {
      padding: 1rem 0;
    }
  }
}

@media screen and (max-width: 992px) {
  .cardsContainer {
    justify-content: flex-start;
    &__cardContentContainer {
      height: 187px;
    }
    &__items {
      font-size: 1.7rem;
    }
    .header h2 {
      font-size: 30px;
    }
    &__period,
    &__exchangeRate {
      font-size: 1.2rem;
    }
    &__cardHeader {
      padding: 2rem 0;
      font-size: 2rem;
    }

    &__card {
      transition: 0.5s all;

      width: calc(33.3% - 14px);
      margin-inline: auto;

      border-radius: 5px;

      padding-bottom: 1.5rem;
    }
    &__price {
      font-size: 2.5rem;
    }
  }
  .header p {
    display: inline-block;
    text-align: center;
    width: 60%;
  }
}

/* cards container end */
@media screen and (max-width: 768px) {
  .cardsContainer {
    align-items: center;
    justify-content: flex-start;

    &__exchangeRate,
    &__period {
      font-size: 12px;
    }
    &__card {
      width: calc(50% - 20px);
    }
    &__cardHeader {
      font-size: 3.5rem;
    }
    &__price {
      font-size: 4rem;
    }
    &__items {
      font-size: 16px !important;

      /* padding: 2rem 0; */
      /* margin-bottom: 0.5rem; */
    }
    /* &__itemsContainer {
      margin-bottom: 2.5rem 0;
      padding: 1rem 2rem;
    } */
    /* &__tick-icon {
      font-size: 2.5rem;
    }
    &__notAveilble-icon {
      font-size: 2.5rem;
      position: relative;
    } */
    &__cardContentContainer {
      height: 200px;
      padding: 2rem 1rem;
    }
  }
  .cardsContainer .cardsContainer__pricePeriodContainer {
    padding: 1.5rem 0;
  }
  .header p {
    display: inline-block;
    text-align: center;
    font-size: 3rem;
    /* width: 80%; */
  }
}

@media screen and (max-width: 576px) {
  .cardsContainer {
    padding: 4rem 0;
    display: flex;
    justify-content: center;

    gap: 10px;
    &__pricePeriodContainer {
      gap: 0.5rem;
    }
    &__period,
    &__exchangeRate {
      font-size: 2.3rem;
    }

    &__cardContainer {
      width: 100%;
    }
    &__card {
      width: calc(50% - 5px);
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
    }
    &__card:hover {
      transform: translateY(-0.625rem);
      box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.2);
    }
    &__cardHeader {
      padding: 3rem 0;
      text-align: center;
      font-size: 4.3rem;
    }
    .secondHeader {
      background-color: #f78da7;
    }
    .thirdHeader {
      background-color: orange;
    }

    &__price {
      font-size: 4.3rem;
    }

    &__cardContentContainer {
      height: 36rem !important;
      padding: 1rem 0.5rem;
    }

    &__itemsContainer {
      display: flex;
      padding: 0.4rem 1.5rem;

      align-items: center;
      margin-bottom: 0.3rem;

      gap: 2rem;
    }
    &__items {
      width: 100%;
      color: var(--TextColor);
      /* letter-spacing: -0.05rem; */
      white-space: nowrap;
      font-size: 2.6rem !important;
      /* padding: 0.6rem 0rem; */
    }
    &__tick-icon {
      font-size: 2.3rem;
    }
    &__notAveilble-icon {
      position: relative;

      font-size: 2.3rem;

      color: rgb(189, 71, 71);
    }
    &__link {
      position: relative;
      display: inline-block;

      color: blue;
      font-size: 1.2rem;
      font-weight: 600;
      padding: 2rem 0 0.5rem 0;
      cursor: pointer;
      &--orange-underline {
        position: relative;
        display: inline-block;
        color: orange;
        font-size: 1.2rem;
        font-weight: 600;
        padding: 2rem 0 0.5rem 0;
        cursor: pointer;
      }
      &--pink-underline {
        position: relative;
        display: inline-block;
        color: #ff6289;
        font-size: 1.2rem;
        font-weight: 600;
        padding: 2rem 0 0.5rem 0;
        cursor: pointer;
      }

      &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 1px;
        background-color: blue;
        transition: width 0.6s;
      }
    }
    &__link:hover::before {
      width: 100%;
    }
  }
  .header p {
    font-size: 2.5rem;
  }
  .header h2 {
    font-size: 5rem;
  }
  .price-modal .price-modal-1-li {
    font-size: 3.5rem;
  }
}
