/* header start */
.header {
  padding: 4rem 0;
  /* width: 55%; */
  margin: auto;
  text-align: center;
}
.header h2 {
  padding: 0.9375rem 0rem 0rem 0rem;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.header p {
  color: var(--TextColor);
  line-height: 2rem;
  font-size: 1.4rem;
  font-weight: 500;
}
/* header end */

/* cards container start */

.cardsContainer {
  justify-content: flex-start;
  padding: 4rem 0;
  display: flex;
flex-wrap: wrap;
  gap: 20px;
  &__pricePeriodContainer {
    position: relative;
 
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: fit-content;
    padding: 1.2rem 0;
    gap: 0.5rem;

  }
  &__period,
  &__exchangeRate {
    font-size: 0.9375rem;
    color: #737b9a;
    font-weight: 600;
  }

  &__cardContainer {
    width: 100%;
    
  }
  &__card {
    transition: 0.5s all;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    width: calc(25% - 15px);

    background-color: #fff;

    border: 1px solid #ddd;
    border-radius: 0.5rem;
    overflow: hidden;
    /* padding-bottom: 1.5rem; */
  }
  &__card:hover {
    transform: translateY(-0.625rem);
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.2);
  }
  &__cardHeader {
    width: 100%;
    padding: 1.5rem 0;
    text-align: center;
    font-size: 1.8rem;
    background-color: blue;
    color: white;
  }
  .secondHeader {
    background-color: #f78da7;
  }
  .thirdHeader {
    background-color: orange;
  }

  &__price {
    position: relative;
    top: 0.3rem;

    font-size: 2rem;
    font-weight: 600;
  }
  &__devider {
    width: 100%;
    height: 1px;
    background-color: #dddfe8;
  }
  &__cardContentContainer {
    width: 100%;
    height: 265px;
    padding: 1rem 0.5rem;
    overflow: auto;
  }

  &__cardContentContainer::-webkit-scrollbar {
    width: 0.5rem;
  }

  &__cardContentContainer::-webkit-scrollbar-track {
    background-color: #fbfbfb;
  }

  &__cardContentContainer::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #a6c5cd);
    border-radius: 16px;
  }
  &__cardContentContainer::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, #839fa6);
  }

  &__cardContentContainer::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff;
  }

  &__itemsContainer {
    display: flex;
    padding: 0 15px;

    align-items: center;
    margin-bottom: 0.3rem;
    border-radius: 0.5rem;
    gap: 1.5rem;
    background-color: rgba(220, 220, 220, 0.1);
    /* background-color: rgb(255, 249, 249); */
  }
  &__items {
    /* line-height: 1.6rem; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    /* max-height: 3.02rem; */

    width: 100%;
    color: var(--TextColor);
    letter-spacing: -0.05rem;
    white-space: nowrap;
    font-size: 1.5rem;
    padding: 0.6rem 0rem;
    line-height: 2rem;
    font-weight: 500;
  }
  &__tick-icon {
    font-size: 1.5rem;
    color: limegreen;
  }
  &__notAveilble-icon {
    position: relative;
    /* right: 0.2rem; */
    font-size: 1.5rem;

    color: rgb(189, 71, 71);
  }
  &__link {
    position: relative;
    display: inline-block;

    color: blue;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 2rem 0 0.5rem 0;
    cursor: pointer;
    &--orange-underline {
      position: relative;
      display: inline-block;
      color: orange;
      font-size: 1.2rem;
      font-weight: 600;
      padding: 2rem 0 0.5rem 0;
      cursor: pointer;
    }
    &--pink-underline {
      position: relative;
      display: inline-block;
      color: #ff6289;
      font-size: 1.2rem;
      font-weight: 600;
      padding: 2rem 0 0.5rem 0;
      cursor: pointer;
    }

    &:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 1px;
      background-color: blue;
      transition: width 0.6s;
    }
  }
  &__link:hover::before {
    width: 100%;
  }
 .kateqoriya{
  width: 25%;
  padding: 1rem;
  display: flex;
  align-items: center;
  border-right: 1px solid #ccd8cc;
  border-radius: 5px;
  gap: 1.25rem;
  background-color: #f2f2f2;
 }
 
}

@media screen and (max-width: 1200px) {
  .cardsContainer {
    &__cardContentContainer {
      height: 234px;
    }
.cardsContainer__items {
      padding: 0.5rem 0;
    }
    .cardsContainer__itemsContainer {
      margin-bottom: 0.7rem;
    }
    .cardsContainer__pricePeriodContainer {
      padding: 1rem 0;
    }
  }
}

@media screen and (max-width: 992px) {
  .cardsContainer {
    justify-content: flex-start;
    &__cardContentContainer {
      height: 187px;
    }
    &__items {
      font-size: 1.7rem;
    }
    &__period,
    &__exchangeRate {
      font-size: 1.2rem;
    }
    &__cardHeader {
      padding: 2rem 0;
      font-size: 2rem;
    }

    &__card {
      transition: 0.5s all;

      width: calc(33.3% - 14px);
      margin-inline: auto;

      border-radius: 5px;

      padding-bottom: 1.5rem;
    }
    &__price {
      font-size: 2.5rem;
    }
  }
  .header p {
    display: inline-block;
    text-align: center;
    width: 60%;
  }
}

/* cards container end */
@media screen and (max-width: 768px) {
  .cardsContainer {
    align-items: center;
    justify-content: flex-start;

    &__exchangeRate,
    &__period {
      font-size: 1.5rem;
    }
    &__card {
      width: calc(50% - 20px);
    }
    &__cardHeader {
      font-size: 3.5rem;
    }
    &__price {
      font-size: 4rem;
    }
    &__items {
      font-size: 2.2rem;
      padding: 2rem 0;
      /* margin-bottom: 1.5rem; */
    }
    &__itemsContainer {
      margin-bottom: 2.5rem 0;
      padding: 1rem 2rem;
    }
    &__tick-icon {
      font-size: 2.5rem;
    }
    &__notAveilble-icon {
      font-size: 2.5rem;
      position: relative;
    }
    &__cardContentContainer {
      height: 200px;
      padding: 2rem 1rem;
    }
  }
  .cardsContainer .cardsContainer__pricePeriodContainer {
    padding: 1.5rem 0;
  }
  .header p {
    display: inline-block;
    text-align: center;
    font-size: 3rem;
    /* width: 80%; */
  }
  
}

@media screen and (max-width: 576px) {
  .cardsContainer {
    padding: 4rem 0;
    display: flex;
    justify-content: center;

    gap: 10px;
    &__pricePeriodContainer {
      gap: 0.5rem;
    }
    &__period,
    &__exchangeRate {
      font-size: 2.3rem;
    }

    &__cardContainer {
      width: 100%;
    }
    &__card {
     width: calc(50% - 5px );
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
    }
    &__card:hover {
      transform: translateY(-0.625rem);
      box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.2);
    }
    &__cardHeader {
      padding: 3rem 0;
      text-align: center;
      font-size: 4.3rem;
    }
    .secondHeader {
      background-color: #f78da7;
    }
    .thirdHeader {
      background-color: orange;
    }

    &__price {
      font-size: 4.3rem;
    }

    &__cardContentContainer {
      height: 36.5rem!important;
      padding: 1rem 0.5rem;
    }

    &__itemsContainer {
      display: flex;
      padding: 1.8rem 1.5rem;

      align-items: center;
      margin-bottom: 0.3rem;

      gap: 1.5rem;
    }
    &__items {
      width: 100%;
      color: var(--TextColor);
      letter-spacing: -0.05rem;
      white-space: nowrap;
      font-size: 2.6rem;
      padding: 0.6rem 0rem;
      line-height: 2rem;
    }
    &__tick-icon {
      font-size: 3rem;
      color: limegreen;
    }
    &__notAveilble-icon {
      position: relative;
      /* right: 0.2rem; */
      font-size: 3rem;

      color: rgb(189, 71, 71);
    }
    &__link {
      position: relative;
      display: inline-block;

      color: blue;
      font-size: 1.2rem;
      font-weight: 600;
      padding: 2rem 0 0.5rem 0;
      cursor: pointer;
      &--orange-underline {
        position: relative;
        display: inline-block;
        color: orange;
        font-size: 1.2rem;
        font-weight: 600;
        padding: 2rem 0 0.5rem 0;
        cursor: pointer;
      }
      &--pink-underline {
        position: relative;
        display: inline-block;
        color: #ff6289;
        font-size: 1.2rem;
        font-weight: 600;
        padding: 2rem 0 0.5rem 0;
        cursor: pointer;
      }

      &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 1px;
        background-color: blue;
        transition: width 0.6s;
      }
    }
    &__link:hover::before {
      width: 100%;
    }
  }
  .header p {
    font-size: 2.5rem;
  }
  .header h2{
    font-size: 3.5rem;
  }
 
}
