@font-face {
  font-family: "Overpass";
  src: url("../src/Fonts/OverpassSyne/Overpass-Regular.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("../src/Fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("../src/Fonts/loto/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Lato";
  src: url("../src/Fonts/loto/Lato-Regular.ttf");
}
@font-face {
  font-family: "Raleway";
  src: url("../src/Fonts/loto/Raleway-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../src/Fonts/loto/Roboto-Regular.ttf");
}

* {
  /* font-family: "Montserrat"; */
  font-family: "Poppins"; 
  /* font-family: "Lato";  */
  /* font-family: "Raleway";  */
  /* font-family: "Overpass"; */
  /* font-family: "Roboto";  */
 
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
:root {
  --TextColor: #7d839e;
  --TextLinkColor: #2547c0;
  --headerText: #212529;
  --blueText: #0000ff;
  --buttonHoverColor: #f78da7;
  --TextWithDarkBg: #f5f5f5;


}


.scroll-to-top {
  position: fixed;

  z-index: 9999;

  bottom: 20px;
  right: 20px;
  cursor: pointer;
  background-color: var(--buttonColor);
  font-size: 10px;
  color: #fff;

  transition: opacity 0.3s ease-in-out;


}
.scroll-icon {
  font-size: 2rem;
}

.scroll-to-top:hover {
  opacity: 0.8;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* PAGES HEADERlINKS */
.linkHeader {
  background-color: #fafafc;
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.linkTitle {
  text-align: center;

}
.linkTitle h2,
.linkTitle span,
.linkTitle div
{
  font-size: 20px;
}
.linkLinks a,
.linkLinks .angleIcon{
  font-size: 16px;
  color: red;
}



.linkTitle h2 {
  display: inline-block;
}
.linkLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: fit-content; */
  gap: 0.5rem;
}

.linkLinks a {

  color: #0000ff;
  font-weight: 500;
}
.linkLinks .linkLink {
  color: #737b9a;
}

.linkLinks .angleIcon {

  color: #737b9a;
}
.linkTitle span {
  border-bottom: 2px solid #f78da7;
  padding-bottom: 1.2rem;
}

/* this belongs to serviceProperty only */
.linkTitle div {
  display: inline;
  
  padding-bottom: 1.2rem;
}
/* this belongs to serviceProperty only */

/* PAGES HEADERlINKS */

/* max-width: 1140px !important; */
/* max-width: 960px !important; */
/* max-width: 720px !important; */
/* max-width: 540px !important; */
/* max-width: 90% !important; */

@media(max-width:1400px){
  .container{
  max-width: 1140px !important;
  margin: 0 auto;
   /* background-color: green; */
 

  }
 }
 @media(max-width:1200px){
 .container{
  max-width: 960px !important;
  margin: 0 auto;
   /* background-color: orange; */
  }
  }
  @media(max-width:992px){
   .container{
    max-width: 720px !important;
    margin: 0 auto;
    /* background-color: yellow; */
   }
  }
  @media(max-width:768px){
   .container{
    max-width: 540px !important;
    margin: 0 auto;
    /* background-color: blue; */
   }
  

  
 


  }
  @media(max-width:576px){
   .container{
    /* background-color: purple; */
    max-width: 90% !important;
    margin: 0 auto;
   }
   .linkHeader {
    background-color: #fafafc;
    padding: 13rem 0;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
   .linkTitle h2,
   .linkTitle span,
   .linkTitle div
   {
     font-size:3.5rem;
   }
   .linkLinks a,
.linkLinks .angleIcon{
  font-size: 2.5rem;
 
}
.scroll-icon {
  font-size: 1.5rem;
}



  }



