@font-face {
  font-family: "Overpass";
  src: url("../src/Fonts/Overpass\,Syne/Overpass-Regular.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("../src/Fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("../src/Fonts/loto/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Lato";
  src: url("../src/Fonts/loto/Lato-Regular.ttf");
}
@font-face {
  font-family: "Raleway";
  src: url("../src/Fonts/loto/Raleway-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../src/Fonts/loto/Roboto-Regular.ttf");
}

* {
  /* font-family: "Montserrat"; */
  /* font-family: "Poppins";  */
  /* font-family: "Lato";  */
  /* font-family: "Raleway";  */
  font-family: "Overpass";
  /* font-family: "Roboto";  */
}
:root {
  --TextColor: #7d839e;
  --TextLinkColor: #2547c0;
  --headerText: #212529;
  --blueText: #0000ff;
  --buttonHoverColor: #f78da7;
  --TextWithDarkBg: #f5f5f5;
}
@keyframes scrollAnimation {
  0% {
    opacity: 0.1;
    top: 200px;
  }
  50% {
    opacity: 0.3;
    top: 300px;
  }
  75% {
    opacity: 0.5;
    top: 500px;
  }
  100% {
    opacity: 0.8;
    top: 600px;
  }
}

.scroll-to-top {
  position: fixed;

  z-index: 9999;

  bottom: 20px;
  right: 20px;
  cursor: pointer;
  background-color: var(--buttonColor);
  font-size: 10px;
  color: #fff;

  transition: opacity 0.3s ease-in-out;

  /* opacity: 0.1; */
}
.scroll-icon {
  font-size: 2rem;
}

.scroll-to-top:hover {
  opacity: 0.8;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* PAGES HEADERlINKS */
.linkHeader {
  background-color: #fafafc;
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}
.linkTitle {
  text-align: center;
}
.linkTitle h2,
.linkTitle span,
.linkTitle div
{
  font-size: 2.5rem;
}
.linkLinks a,
.linkLinks .angleIcon{
  font-size: 1.6rem;
  color: red;
}



.linkTitle h2 {
  display: inline-block;
}
.linkLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: fit-content; */
  gap: 0.5rem;
}

.linkLinks a {

  color: #0000ff;
  font-weight: 500;
}
.linkLinks .linkLink {
  color: #737b9a;
}

.linkLinks .angleIcon {

  color: #737b9a;
}
.linkTitle span {
  border-bottom: 2px solid #f78da7;
  padding-bottom: 1.2rem;
}

/* this belongs to serviceProperty only */
.linkTitle div {
  display: inline;
  
  padding-bottom: 1.2rem;
}
/* this belongs to serviceProperty only */

/* PAGES HEADERlINKS */
@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px !important;
  }
  

}
@media screen and (max-width: 992px) {
  .container {
    max-width: 720px !important;
  }


}
@media screen and (max-width: 768px) {
  .container {
    max-width: 540px !important;
  }


}
@media screen and (max-width: 576px) {
  .container {
    max-width: 90% !important;
  }
  .linkLinks a,
.linkLinks .angleIcon{
  font-size: 2.5rem;

}
.linkTitle h2,
.linkTitle span,
.linkTitle div
{
  font-size: 3.5rem;
}

}

