* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
// .home__about {
//   background-color: #f9f9fc;
//   padding: 4px 0px 0px 0px;
//   width: 100%;
//   &__content {
//     padding: 120px 10px 120px 10px;
//     width: 40%;
//     margin: auto;
//     text-align: center;
//     ul {
//       padding: 20px 0px 20px 0px;
//       list-style: none;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       .iconss {
//         font-size: 23px;
//       }
//       li {
//         .home {
//           color: #737b73;
//         }
//         .about {
//           color: #0000ff;
//         }
//       }
//       a {
//         text-decoration: none;
//         font-size: 18px;
//       }
//     }
//     .lines {
//       width: 5%;
//       height: 3px;
//       margin: 0 auto;
//       background-color: #0000ff;
//     }
//     h2 {
//       padding: 15px 0px 10px 0px;
//       font-size: 40px;
//     }
//   }
// }


//about header

 .aboutHeader{
    background-color: #fafafc;
    padding: 10rem 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
.aboutTitle{
 text-align: center;
}
.aboutTitle h2{
  font-size: 2.5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.aboutTitle {
  text-align: center;
  // margin: 6rem 0;
  // padding: 3rem 0;
}
.aboutTitle h2 {
  display: inline-block;
  font-size: 2.5rem;
}
.aboutLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 0.5rem;
}


.aboutLinks a {
  font-size: 1.3rem;
  color: #0000ff;
  font-weight: 500;
}
 .aboutLinks .aboutLink {
  color: #737b9a;
}

.aboutLinks .angleIcon {
  font-size: 1.5rem;
  margin-top: 0.1rem;
  color: #737b9a;
}
.aboutTitle span {
  border-bottom: 2px solid #f78da7;
  font-size: 2.5rem;
  padding-bottom: 1.2rem;
}

//about header



.aboutpage {
  width: 100%;
  padding: 20px 0px 40px 0px;
  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 36px 0px 36px 0px;
    &__left {
      width: 545px;
      height: 492px;
      img {
        width: 545px;
        height: 492px;
      }
    }
    &__right {
      width: 600px;
      height: 492px;
      padding: 10px 30px 5px 30px;
      ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 19px;
        li {
          border: none;
          border-radius: 5px;
          background-color: #f9f9fc;
          width: 240px;
          display: flex;
          justify-content: start;
          align-items: center;
          padding: 11px;
          .ikon {
            color: #0000ff;
            border-radius: 3px;
            font-size: 23px;
          }
        }
      }
      .spanteg {
        font-size: 19px;
        padding: 6px;
        color: #0000ff;
      }
      span {
        font-size: 19px;
        padding: 6px;
      }
      h2 {
        font-size: 35px;
        padding: 6px 0px 5px 0px;
      }
      p {
        color: #737b73;
        font-size: 19px;
        line-height: 1.6;
        padding: 6px 0px 27px 0px;
      }
    }
  }
  &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    &__left {
      width: 373px;
      height: 355px;
      h2 {
        padding: 10px 0px 10px 20px;
      }
      .aboutline {
        width: 90%;
        background-color: lightgray;
        height: 0.1px;
        margin: 0 auto;
      }
      p {
        color: #737b73;
        padding: 10px 23px 0px 20px;
        line-height: 1.6;
        font-size: 18px;
      }
      ul {
        list-style: none;
        padding: 20px;
        li {
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 10px;
          span {
            font-size: 19px;
            padding: 6px;
          }
          .ikonabout {
            color: #737b738c;
          }
          .ikonabout:hover {
            color: #0000ff;
          }
        }
      }
    }
    &__middle {
      width: 373px;
      height: 355px;
      h2 {
        padding: 10px 0px 10px 20px;
      }
      .aboutline {
        width: 90%;
        background-color: lightgray;
        height: 0.1px;
        margin: 0 auto;
      }
      p {
        color: #737b73;
        padding: 10px 23px 0px 20px;
        line-height: 1.6;
        font-size: 18px;
      }
      ul {
        list-style: none;
        padding: 20px;
        li {
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 10px;
          span {
            font-size: 19px;
            padding: 6px;
          }
          .ikonabout {
            color: #737b738c;
          }
          .ikonabout:hover {
            color: #0000ff;
          }
        }

        &__cards{
            padding-bottom: 90px;
            width: 100%;
           display: flex;
           justify-content: center;
           align-items: center;
           gap: 25px;
           &__card{
            width: 361px;
            height: 497px;
            img{
                width: 360px;
                height: 370px;
                overflow: hidden;
            }
            img:hover{
                transform: scale(1.3);
                transition: 1.3s;
              }
            &__content{
                width:100% ;
                height: 120px;
                background-color: #F9F9FC;
                padding: 15px 0px 0px 0px;
                margin: 0 auto;
                h3{
                    text-align: center;
                    padding: 10px;
                }
                span{
                    color: #0000FF;
                    margin-left: 110px;
                }
            }
           }
        }
    }}
  }}
