

/* header links start */

/* header links end */
/* section 1 start*/
.section-1 {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  padding: 5rem 0;
}

.section-1 .left {
  position: relative;
  width: 50%;
}
.section-1 .left img {
  /* position: absolute; */
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.section-1 .right {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
}
.section-1 .right .title {
  font-size: 1.5rem;
  color:  var(--mainBlue);
  font-weight: 500;
  width: 100%;
}
.section-1 .right .header {
  font-size: 2rem;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 2rem;
}
.section-1 .right .description {
  /* padding-right: 10rem; */
  color: #737b9a;
  line-height: 1.6rem;
  font-size: 1rem;
  font-weight: 900;
}
/* card start */
.section-1 .right .cards-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.section-1 .right .cards-container .card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  box-shadow: inset 0 0 0 0  var(--mainBlue);
  transition: ease-out 0.2s;
  padding: 1rem;
  background-color: #f8faff;
  border-radius: 0.5rem;
}
.section-1 .right .cards-container .card:hover {
  box-shadow: inset 50rem 0 0 0  var(--mainBlue);
  transition: ease-out 0.8s;
}
.section-1 .right .cards-container .card:hover p {
  color: #fafafc;
}
.section-1 .right .cards-container .left-cards-container .card .icon-about,
.section-1 .right .cards-container .right-cards-container .card .icon-about {
  font-size: 2.5rem;
  color:  var(--mainBlue);
}
.section-1 .right .cards-container .card:hover .icon-about {
  color: orange;
}
.section-1 .right .cards-container .card p {
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
}

.section-1 .right .cards-container .left-cards-container,
.section-1 .right .cards-container .right-cards-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* *ABOUT SECTION -1 END */

/** ABOUT SECTION-2 START*/
.section-2 {
  width: 100%;
}
.section-2 .cardsContainer {
  display: flex;

  padding: 5rem 0 0 0;
  gap: 2rem;
}
.section-2 .cardsContainer .card {
  /* width: 90%; */

  gap: 1rem;

  padding: 0 !important;
}
.section-2 .cardsContainer .card .devider {
  position: relative;
  margin-bottom: 1rem;
  width: 100%;
  height: 1px;
  background-color: #eeeeee;
}
.section-2 .cardsContainer .card .devider::before {
  position: absolute;
  content: "";
  width: 5em;
  height: 1px;
  background-color:var(--mainBlue);
}

.section-2 .cardsContainer .card .cardListsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 1rem;
}
.section-2 .cardsContainer .card .cardList {
  width: 100%;
  text-align: start;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.section-2 .cardsContainer .card .cardList:hover .list-icon {
  color:  var(--mainBlue);
}

.section-2 .cardsContainer .card .cardList p {
  font-size: 19.2px;
  width: 100%;
  color: black;
  font-weight: 500;
}

.section-2 .cardsContainer .card .cardList .list-icon {
  font-size: 2.5rem;
  transition: 0.2s ease;
  color: #bebecd;
}
.section-2 .cardsContainer .description {
  font-size: 16px;
  color: var(--TextColor);
  line-height: 28px;
  padding: 0 !important;

  /* text-align: justify; */
}

.section-2 .cardsContainer .card h2 {
  margin-bottom: 1rem;
  width: 100%;
  font-size: 16px;
}

/* ABOUT SECTION-2 END */

/* ABOUT SECTION-3 START */

.section-3 {
  /* display: flex; */
  /* display: inline-block; */
  /* width: 100%; */
  padding: 5rem 0;
  /* align-items: center; */
/* width: 100%!important; */
/* width: 40%; */
margin: 0 auto!important;
/* width: 300px; */
/* width: 50%!important; */

}
.section-3 img {
  /* width: 600px; */
  height: 500px;

  margin: 0 0 20px 20px;
  float: right;
}
.section-3 .description{

  padding:  5rem 0 0 0;
color: var(--TextColor);
  font-size: 16px;

  line-height: 28px;
}



/* ABOUT SECTION-3 END */

.aboutCardsContainer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  &__aboutCard {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: lightgray;

    & h2 {
      font-size: 1.5rem;
      padding-bottom: 1rem;
    }
    & p {
      font-size: 1.2rem;
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1200px) {
  .section-2 .cardsContainer .card .cardList p {
    font-size: 1rem;
  }

  .team-container {
    justify-content: center;
  }
  .section-3 .left .header {
    font-size: 2rem;
    width: 100%;
  }
  .section-3 .left .description,
.section-3 .left .selected-description {
  
  font-size: 12px;

}

}

/* Responsive design   for 992  */

@media screen and (max-width: 992px) {
  .section-1 {
    flex-direction: column;
  }
  .section-1 .left {
    width: 100%;
  }
  .section-1 .right {
    width: 100%;
  }
  .section-1 .right .title,
  .section-1 .right .header,
  .section-1 .right .description {
    text-align: center;
  }
  .section-1 .right .header {
    text-align: center;
  }
  /* media992- section-1 end */

  /* media992- section-3 start */
  .section-3 img {
    /* width: 600px; */
    height: 400px;
  margin: 0 0 20px 20px;
    float: right;
  }
 
  
  .section-2 .cardsContainer .card .description {
    font-size: 14px;
 
    line-height: 25px;
   
  }

  .section-3 .left .selected-title-container {
    justify-content: center;
    width: fit-content;
  }
  .section-2 .cardsContainer .card .cardListContainer .cardList p {
    font-size: 15px;

    width: 100%;
    color: black;
    font-weight: 500;
  }

  
  .section-3 .description{
    font-size: 14px;
    line-height: 25px;
  }

}

  @media screen and (max-width: 768px) {
    .section-2 .cardsContainer {
      flex-direction: column;
      width: 100%;
      /* gap: 6rem; */
    }
    .section-2 .cardsContainer .card {
      width: 100%;
    }
    .section-2 .cardsContainer .card .description {
    line-height: 25px;
    }
    .section-3 .left .title,
    .section-3 .left .header,
    .section-3 .left .selected-description,
    .section-3 .left .description {
      font-size: 14px;
      line-height: 20px;
    }
    .section-3 img {
     width: 100%;
      height: auto;
    margin: 0 0 20px 20px;
      float: right;
    }
    .section-3 .description{
      font-size: 14px;
      line-height: 25px;
      text-align: justify;
    } .section-3 .description{
      font-size: 14px;
      line-height: 25px;
      text-align: justify;
    }

   
  }

  @media screen and (max-width: 576px) {
    .section-2 .cardsContainer {
      flex-direction: column;
      width: 100%;
    }
    .section-2 .cardsContainer .card {
      width: 100%;
    }
  


    .section-2 .cardsContainer .card {
      width: 100%;
    }
    .home__service__cards {
      width: 100%;
    }

    .home__works__cards {
      width: 100%;
    }
    .section-2 .cardsContainer .card .description {
      font-size: clamp(12px,1vw,30px);
    line-height: 20px;
    }
    .section-2 .cardsContainer .card .cardList p {
      font-size: 3rem;
    }
    .section-3 .description{

      font-size: clamp(12px,1vw,30px);
      line-height: 20px;
      text-align: justify;
    }
    .section-2 .cardsContainer .card .devider {
    margin-bottom: 10px;
    }
  }
 
  

