.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}

/* .faqSection-1{
 	background-color: #a99a9a;
 } */
.faqsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*  BUTTON HOVER EFFECT START
.faqSection-2 .section-2-content .right form button {
	border: none;
  position: relative;
  display: inline-flex;
  font-size: 1rem;
  padding: 0.9375rem 1.875rem;
  background-color: $PrimaryColor;
overflow: hidden;
  color: #fff;
  border-radius: 0.3rem;
}
.faqSection-2 .section-2-content .right form button::before{
	content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 0px;
        height: 0px;
        background: orange;
    transition: width 0.5s, height 0.5s;
}
.faqSection-2 .section-2-content .right form button span{
	position: relative;
	z-index: 1;
	font-weight: 900;
}
.faqSection-2 .section-2-content .right form button:hover::before{
	width: 18.75rem;
	height: 18.75rem;
} */
/* BUTTON HOVER EFFECT END
faq Section 2 end */
.faqTitle {
  text-align: center;
  /* margin: 6rem 0; */
  /* padding: 3rem 0; */
}

.faqTitle h2 {
  display: inline-block;
  font-size: 2.5rem;
}

.faqLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.faqLinks .homeLink {
  color: #737b9a;
}

.faqLinks a {
  font-size: 1.3rem;
  color: #0000ff;
  font-weight: 500;
}

.faqLinks .angleIcon {
  font-size: 1.5rem;
  margin-top: 0.1rem;
  color: #737b9a;
}

.faqTitle span {
  border-bottom: 2px solid #f78da7;
  font-size: 2.5rem;
  padding-bottom: 1.2rem;
}

/* faq Header start */
.faqHeader {
  background-color: #fafafc;
  padding: 10rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}

/* faq Header end */
.faqTitleBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding: 10rem 0 5rem 0;
}

.faqTitleBottom .about-description {
  color: #0000ff;
  font-size: 1.2rem;
  font-weight: 700;
}

.faqTitleBottom h2 {
  font-size: 2.5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.faqTitleBottom .faqDescription {
  color: #737b9a;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  text-align: center;
  width: 60ch;
}

.faqs {
  width: 100%;
  max-width: 768px;
}

.faqs .faq {
  position: relative;
  margin: 0.9375rem;
  color: #737b9a;
  font-weight: 500;
  /* padding: 10px; */
  background-color: #fff;
  /* border-radius: 8px; */
  -webkit-box-shadow: 0px 0px 0.625rem rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 0.625rem rgba(0, 0, 0, 0.2);
  /* background-color: pink; */
}

.faqs .faq .faq-question {
  position: relative;
  cursor: pointer;
  color: #1c1a1a;
  /* height: 100%; */
  font-size: 0.9375rem;
  font-weight: 900;
  /* padding-right: 80px; */
  padding: 1.75rem;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding-left: 3.75rem;
  border-bottom: 1px solid #e7e2e2;
}

.faqs .faq .faq-question::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: '+';
  position: absolute;
  font-size: 1.875rem;
  color: white;
  top: 50%;
  left: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #5252ad;
  width: 3.125rem;
  height: 100%;
  background-image: url("./arrow-down-mint.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.faqs .faq .faq-answer {
  padding-left: 0.9375rem;
  font-size: 1rem;
  opacity: 0;
  max-height: 0;
  overflow-y: hidden;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* .faqs .faq.open .faq-question {
	margin-bottom: 15px;
} */
/* .faqs .faq.open .faq-question::after {
transform: translateY(-50%) rotate(180deg);
} */
.faqs .faq.open .faq-answer {
  max-height: 1000px;
  opacity: 1;
  padding: 0.625rem 0.625rem 0.625rem 0.9375rem;
  font-size: 1rem;
}

.faqs .faq.open .faq-question::after {
  content: '-';
  font-size: 1.875rem;
  color: white;
}
/*# sourceMappingURL=faq.css.map */